[2015-07-21 00:33] Sunconure11 opened #1 "General discussion and miscellaneous ideas"
Feel free to add more:

Rum
Vodka
Tequila
Pulque
Absinthe
Various new forms of wine and beer (Being worked on)
New strains of hops and grapes
A distillery
Bamboo ladders
Bamboo rope ladders
Giant barrels
Wormwood
Blue Agave
Maguey Agave
Gristmills
Revive the kitchen module
Bottling machine
Brandy
Cognac
Apple jack
Apple cider
Grape juice (technically already in though)
Whiskey
More ore dictionary

[2015-07-21 05:03] Sunconure11 commented on #1
Decimal colors for fluids (the color appears to be determined by the code rather than any image, via decimal colors, hopefully these work, I am using this site to get decimal codes: http://www.colorhexa.com/), since I have not taught myself java yet (I will create some textures and models in the mean time):

Absinthe: 6393643

Rum: 10579213

Pulque: 16777200

Tequila: 16764309

Vodka: 14474460

Co

[2015-07-21 05:42] Ar97x commented on #1
Will it be with flowing textures or just simple, pure colored bottles?
Em 21/07/2015 01:03, "Joseph Caleb Jones" notifications@github.com
escreveu:

[2015-07-21 06:20] Sunconure11 commented on #1
Most likely they will be the same as those from growthcraft in terms of appearance.

[2015-07-21 06:28] Ar97x commented on #1
That's nice. The main colors you chosr are pretty much ideal for me.
Em 21/07/2015 02:21, "Joseph Caleb Jones" notifications@github.com
escreveu:

[2015-07-21 06:28] Sunconure11 commented on #1
Fluids in this mod are colored via the code, not via static images. So most likely creating textures for the new drinks are not needed yet.

[2015-07-21 06:31] Sunconure11 commented on #1
I'll send an example of the fluid code.

[2015-07-21 06:31] Ar97x commented on #1
I haven't worked with textures in minecraft yet, only public mod
translations and modpack config for my own use
Em 21/07/2015 02:29, "Joseph Caleb Jones" notifications@github.com
escreveu:

[2015-07-21 06:32] Sunconure11 commented on #1
https://github.com/Sunconure11/Growthcraft-1.7/blob/master/src/java/growthcraft/grapes/GrowthCraftGrapes.java

[2015-07-21 06:35] Ar97x commented on #1
BTW, the contribution I can make to the mod is translating it to
portuguese, besides creative ideas.
Em 21/07/2015 02:31, "Victor Diehl" vdiehl97@gmail.com escreveu:

[2015-07-21 06:37] Sunconure11 commented on #1
That can work. Once Groth appears here, I will transfer ownership of this repo to him.

[2015-07-21 06:38] Ar97x commented on #1
And I'll keep the translations updated, when new things come out.

[2015-07-21 06:47] Ar97x commented on #1
As soon as he gets it, I'll make the same offer to him

2015-07-21 2:38 GMT-04:00 Victor Diehl vdiehl97@gmail.com:

[2015-07-21 12:11] Alatyami commented on #1
Very cool, these are some great ideas for continuing a great mod.

Alatyami

Aka GrothHammerPick

[2015-07-21 16:21] Sunconure11 commented on #1
I will now transfer the repository to Groth. However, I will still update this thread.

[2015-07-21 16:24] Sunconure11 commented on #1
While I wait for him to accept it, I will create a texture for Agave Syrup, since that will be separate from the forms of alcohol the agave addon might add, assuming it takes hold.

[2015-07-21 16:25] Sunconure11 commented on #1
Hm, it seems I cannot transfer the repository to him.

[2015-07-21 16:37] Sunconure11 commented on #1
I created one texture for Growthcraft Agave. The idea for this module came from Azumarill on the forum, who suggested Agave crops.

[2015-07-21 16:42] Sunconure11 commented on #1
Agave Syrup textures are based on booze textures, but, it is not a fluid, so, its color is determined by the texture. I'm going to create a still model later.

[2015-07-21 16:47] Sunconure11 commented on #1
My idea for the still will likely look something like this: https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Liquor_Still_Frankfort_489226997.jpg/800px-Liquor_Still_Frankfort_489226997.jpg

[2015-07-21 16:49] Alatyami commented on #1
I have it forked here: https://github.com/alatyami/Growthcraft-1.7

If you want to transfer it we can sync the two and then start using either mine or still use yours, up to you.

[2015-07-21 16:54] Alatyami commented on #1
My Git account is "alatyami"

~Groth

[2015-07-21 16:56] Alatyami commented on #1
Then we can have a pipe go to a tank for the resulting fluid.

[2015-07-21 17:00] Sunconure11 commented on #1
I know, but, it says I cannot transfer it because of the fact that you have a growthcraft repo as well.

[2015-07-21 17:05] Alatyami commented on #1
Ah ... I removed mine it was named the same.

[2015-07-21 17:09] Sunconure11 commented on #1
Transfer requested.

[2015-07-21 18:06] Ar97x commented on #1
If you can make a texture for a still like that, it would be awesome. And
Groth, do you want me to work on the portuguese translations now or do you
prefer to do some work before I start it? Remember to notify me as soon as
you get something new, this way I keep the translation updated
Em 21/07/2015 13:09, "Joseph Caleb Jones" notifications@github.com
escreveu:

[2015-07-21 19:03] Alatyami commented on #1
That would be great. Please do so.

[2015-07-21 19:05] alatyami opened #2 "Add portuguese translations"

[2015-07-21 19:17] Alatyami commented on #1
@Ar97x  I created another issue for you to use for the transition.

[2015-07-21 20:08] Ar97x commented on #2
Do you know where is the lang files?

[2015-07-21 20:10] Sunconure11 commented on #2
Here is an example. Following this, you can find the others:

https://github.com/alatyami/Growthcraft-1.7/tree/master/src/resources/assets/grcapples/lang

[2015-07-21 20:11] Sunconure11 commented on #1
I contemplated adding a domestic animals module to the list, but, before I do any modelling for this mod, including the still, I need to finish Deinocheirus for It's About Time. My sleep schedule is out of whack again so this could be a bit.

[2015-07-21 20:23] Sunconure11 commented on #1
However, atleast the start of the still should be done soon. I only have the head, the claws (and some minor details), plus creating a texture map and texturing it left.

[2015-07-21 20:29] Ar97x commented on #2
Thanks. I always forget where it is lol.

[2015-07-21 21:46] Sunconure11 commented on #1
If the possibility of the still having its own pipes is implemented, I got this response on creating pipes.

https://www.reddit.com/r/feedthebeast/comments/3e42t3/i_have_a_question_regarding_models_for/

[2015-07-21 21:46] Sunconure11 commented on #1
However, I think it would be better to not implement our own pipes, but allow support for other pipes from other mods.

[2015-07-21 22:50] Ar97x commented on #1
Agreed. Ender IO, Thermal Dynamics and Mekanism on top priority, since they
are the most popular mods that have fluiducts

[2015-07-21 23:07] alatyami opened #3 "Add interaction for utilizing pipes from other mods."

[2015-07-21 23:08] Alatyami commented on #1
Added fluiducts as Issue https://github.com/alatyami/Growthcraft-1.7/issues/3

[2015-07-21 23:09] Ar97x commented on #2
I've forked and translated one already, what should I do now? Create a _new
branch_ for this commit and start a pull request?

2015-07-21 16:10 GMT-04:00 Joseph Caleb Jones notifications@github.com:

[2015-07-21 23:09] Ar97x commented on #2
I never did it directly on GitHub

2015-07-21 19:08 GMT-04:00 Victor Diehl vdiehl97@gmail.com:

[2015-07-21 23:12] alatyami opened #4 "Find a new home for the GrowthCraft wiki"

[2015-07-21 23:13] Sunconure11 commented on #4
Wikia might work. We could also set up the wiki on here.

[2015-07-21 23:14] Sunconure11 commented on #2
Well, you are a contributor, you can do it directly.

[2015-07-21 23:33] Alatyami commented on #4
Let's start it here ... I'd like to find a place that is minecraft friendly so that we can build out the graphical recipes.

[2015-07-21 23:40] Alatyami opened #5 "Agave Syrup"

[2015-07-21 23:50] Sunconure11 commented on #5
I started writing on the wiki, and wrote down a concept for Agave.

https://github.com/alatyami/Growthcraft-1.7/wiki/Growthcraft-Agave-(Concept)

[2015-07-21 23:55] Alatyami commented on #5
Awesome, I am thinking that we are going to need to create a new (sub)plugin to handle items like this one that do not fit into the currently named plugins.

After reading your description, this is going to be a fun mod addition, I haven't worked with plants before.

[2015-07-21 23:57] alatyami opened #7 "GrowthcraftDistillery Mod"
All things to do with a still.

[2015-07-21 23:59] Alatyami opened #8 "GrowthcraftSugarcane Mod"
One who makes syrup is a "sugar maker". Temporary name or permanent name of the mod to handle the syrups.

[2015-07-22 00:01] Alatyami commented on #2
Go ahead and either modify the development branch or create your own translation/portuguese branch. Language files rarely break anything.

[2015-07-22 00:14] Sunconure11 commented on #8
I have come up with a name for this module. Growthcraft Sugarcane. I also created a few new pages for concepts I thought of, but, I'll add onto them later.

[2015-07-22 00:46] alatyami opened #9 "Add modmod.info files"
The source that was shared out by Gwafu is missing the mcmod.info files. He probably had a build script to add it in.

[2015-07-22 22:35] Sunconure11 opened #10 "Cultivar breeding system"
As various cultivars of grapes, hopes, rice, and so on have been mentioned, we should probably work on a system that lets you breed these new varieties.

[2015-07-22 23:16] Sunconure11 commented on #10
I am having some difficulty submitting in textures for new grape cultivars.

[2015-07-22 23:20] Sunconure11 commented on #10
Finally.

[2015-07-25 06:48] SynfulChaot commented on #4
I'd recommend either here on GitHub or on http://ftb.gamepedia.com/FTB_Wiki.  Wikia is ... something best avoided if you can due to heavy ads and no control over most things.

[2015-07-25 06:53] SynfulChaot commented on #7
As distilling is part of the overall brewing process for many drinks, wouldn't this fit in with the Cellar module itself?  Why separate it out further?

[2015-07-25 18:08] Alatyami commented on #7
I can see that.

[2015-07-25 21:43] Alatyami commented on #7
Going to move to the Cellar mod as it already has the Booz in it.

[2015-07-25 21:43] #7 closed

[2015-07-26 00:09] Sunconure11 commented on #7
When we set up the page for the cellar fully, should I merge the distillery concept page into it?

[2015-07-26 00:46] Alatyami commented on #7
Yes, please do.

[2015-07-26 01:43] SynfulChaot commented on #8
Would brewing alcohol from sugar necessarily require another mod?  Sugar is a vanilla crop and Cellar currently handles most of the brewing.  Most of the other existent modules, IIRC, are there to add a new crop or resource, and their related acquisition mechanics, that aren't in the game already.

[2015-07-26 03:30] Sunconure11 commented on #8
Hm, it actually could fit into cellar. If distillery is merged with cellar, wormwood could fit into it as well.

[2015-07-26 03:36] Ar97x commented on #8
I think so. Do you think on making absinthe be more susceptible to apply
the "drunk" effect?
Em 25/07/2015 23:30, "Joseph Caleb Jones" notifications@github.com
escreveu:

[2015-07-26 03:38] Sunconure11 commented on #8
Heavily alcoholic drinks will apply tipsy more frequently. Vodka, Tequila and Absinthe are examples of this.

I have not learned java yet, so, I'll be creating concepts, textures and models. However, I should be free enough to learn it soon.

[2015-07-26 03:40] Ar97x commented on #8
Right. I don't know if this were in the mod before.

[2015-07-26 03:43] Sunconure11 commented on #8
Since wormwood will grow like generic crops in vanilla, I will likely pull off the texture for that first. I'll have to make textures and models for other crops to texture those, since a lot of them do not grow in generic fashions.

The color for the drinks and fluid is determined by the code, so, I'd have to send the appropriate decimal code over. Which I have.

Agave cores will be 3D blocks, but

[2015-07-26 04:07] SynfulChaot commented on #8
Hmm ... perhaps Wormwood could still be separate from Cellar as it is a new distinct crop.

[2015-07-26 04:12] Ar97x commented on #8
Maybe the process of making it absinthe could be on cellar and the crop
part on a separate mod, just like the old crops

[2015-07-26 04:13] Ar97x commented on #8
Apple, Rice and other stuff I mean

[2015-07-27 00:40] Sunconure11 commented on #8
Hm, perhaps, I'll research into wormwood plants a bit more to see if I can make the crops stand out.

[2015-07-28 00:04] Sunconure11 opened #16 "Mod support"
Ex Nihilo, Botania, Thermal Expansion and Thaumcraft are all in the realm of possibility.

[2015-07-28 00:37] Ar97x commented on #16
I don't know very much of ExNihilo or Thaumcraft, but I play a lot with
Thermal Expansion. What do you have in mind? Growing crops with the
Photogenic Insulator? Storing booze on Portable Tanks? Using the Liquid
Transposer to transfer drinks?

[2015-07-28 00:38] Ar97x commented on #16
Interactions with Thirst Mod is something that I have in mind too.
Em 27/07/2015 20:37, "Victor Diehl" vdiehl97@gmail.com escreveu:

[2015-07-28 00:47] Sunconure11 commented on #16
A lot of what you mentioned, plus some machines that turn on them TE is installed, such as electric stills, and electric juicers.

[2015-07-28 00:50] Sunconure11 commented on #16
For Botania support, it would be mainly allowing mystical flowers to spread near beehives. Craftable flowers cannot and will not spread. Not even early game stuff like Pure Daisies. For Thaumcraft, more aspects on stuff. Ex Nihilo support was highlighted by another user on the forums. http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1286298-growthcraft-jul-15-2014-proper-1-7

[2015-07-28 01:15] Ar97x commented on #16
Yeah I saw it before. Do you think that we need to prioritize the mod
support stuff or the new things that is under development?

[2015-07-28 01:33] SynfulChaot commented on #16
Probably ask Vazkii on the mystical flower spread.  Forestry doesn't allow them to spread with it's beehives as it bypasses Botania's own flower spread method (Jaded Amaranthus).

[2015-07-28 01:41] Sunconure11 commented on #16
Maybe mod support first. Also, Botania is open source, who said we need to ask her? We can see how the Jaded Amaranthus spreads flowers, and how to allow the mystical flowers to spread with the beehives. But if we cannot figure it out, then yeah, we can always ditch that, or ask her.

[2015-07-28 02:14] SynfulChaot commented on #16
I think it's the spreading the flowers without the resultant mana cost that is the reason for not having beehives spread mystic flowers.  Perhaps if it needed to use mana to spread them?

[2015-07-28 03:02] Ar97x commented on #16
Perhaps if we put mana producing flowers nearby as a condition to mystical
flowers to multiplicate it could work well. I think we should at least ask
the modder if it's fine for him/her.

[2015-07-28 03:34] Sunconure11 commented on #16
Hm, a mana-infused apiary might be interesting.

[2015-07-28 03:36] Ar97x commented on #16
Yeah. That sounds cool.

[2015-07-29 01:02] Sunconure11 opened #17 "Entomophagy module?"
I showed some friends that I was aiding with this, and it ended up evolving into a conversation about an entomophagy module. Would anyone be interested in a concept for a module that expands upon the use of insects, as well as add other stuff, such as earthworms, and a composter?

Maybe the bees module could be merged into it as well.

[2015-07-29 01:28] Ar97x commented on #17
Insects? Maybe. If we can make it interact with agriculture or fishing it
would be really cool. Like Humus production, with a tax of growth
acceleration on crops planted on it. But stuff like butterflies of Forestry
is pointless to me.

[2015-07-29 02:13] Sunconure11 commented on #17
I'll write some concepts for this module, as well as some other modules that have been suggested.

[2015-07-29 02:28] Sunconure11 commented on #17
I'll make some interact with agriculture, whether it be destroying your crops, providing buffs, and so on.

[2015-07-29 02:31] Sunconure11 commented on #17
https://github.com/alatyami/Growthcraft-1.7/wiki/Growthcraft-Entomophagy-(Concept)

[2015-07-29 04:17] Alatyami commented on #17
This will have to be for MC 1.8. With the release of 1.9 we'll be looking to update GC to 1.8 Forge. I plan on completely rebuilding GC for 1.8 from the ground up with dictionaries and all the new methods or mod development. I'll see about back porting this to 1.7.10, i.e. growthcraft 2.x

[2015-07-29 04:22] Alatyami opened #18 "Growthcraft-1.8"
With the release of MC 1.9 we need to start thinking about Forge for 1.8.

Forge 1.8 support will be in GC 3.0 and officially launch the Growthcraft Community Edition

[2015-07-29 04:22] Ar97x commented on #17
Well, that's true, the first priority we need to have is porting it to
1.8.x. But keep it updated on 1.7.10, it's hard for players and modpackers
(neologism) to move totally to a recent version.

[2015-07-29 05:10] SynfulChaot commented on #17
I'd put the priority on 1.7.10 as that's where the current community is at and many intend to skip 1.8 entirely.

[2015-07-30 03:41] Alatyami commented on #17
I agree but most of the mod is written for 1.6 and a lot of code is outdated.  Definitely still going to fully support 1.7.10.

[2015-07-30 15:42] rikai opened #19 "Pull in the requests/forks on Gwafu's repo"
Would be nice to pull in the pull requests from Gwafu's repository and some of the other forks so that we've got one primary 'community edition' with all the changes.

Current ones that i see are:
Gradle build files & mcmod.info: Gwafu/Growthcraft-1.7#5 (primarily the mcmod.info stuff)
A Hungarian translation @ [ender11hun/Growthcraft-1.7](https://github.com/ender11hun/Growthcraft-1.7/tree/patch-1

[2015-07-30 15:52] Alatyami commented on #19
Very true ... we'll have to come up with a plan for that.

On Thu, Jul 30, 2015 at 11:42 AM, rikai notifications@github.com wrote:

[2015-07-30 17:05] Alatyami commented on #19
I am reaching out to Gwafu to be added to his project and we can redirect people to here.

[2015-07-30 17:09] Alatyami commented on #19
Message has been sent via reddit.

[2015-07-30 19:35] IceDragon200 commented on #19
Hi, I got the message and moved my PR over #20 :)

[2015-07-30 20:24] IceDragon200 commented on #3
As of this writing, the following mods where tested:
`Buidrcraft 7.0.17 with Buildcraft-Compat 7.0.9`
`Thermal Dynamics 1.1.0-161`
`Ender IO 2.2.8.381`

Basic pipes, ducts and conduits (whatcha ma calls it) worked fine with the Fermenting Barrel and Fruit Press: in addition I pumped the liquids into the mods respective fluid storage, only ender IO didn't provide a storage block for "other" liquids

[2015-07-30 20:50] Alatyami commented on #3
Well ... then .... that was an easy request to fullfill. We got that from the forums.

[2015-07-30 22:02] Ar97x commented on #3
Good to hear it. I'll try to find another mods with pipes/fluiducts to
test. If possible, try with Extra Utilities and Mekanism.

[2015-07-31 01:05] IceDragon200 commented on #3
@Ar97x @alatyami Mekanism and Extra Utilities also work

I did an isolated test with these, since my main minecraft takes forever to start
`Mekanism 8.1.7.252`
`Extra Utilities 1.2.8`

[Screenshot](https://dl.dropboxusercontent.com/u/72618186/screenshots/Minecraft/2015-07-30_19.49.42.png)

Both also had barrels and tanks generated for the liquids

[2015-07-31 01:17] Ar97x commented on #3
Great. I think they have all coded to transport and store any liquids
included on the mods list.

[2015-07-31 02:03] SynfulChaot opened #21 "Forestry apiculture support"
Would it be possible for Growthcraft Cellar to detect if Forestry's Apiculture module is loaded and if so be able to utilize Forestry's honey to make mead even if Growthcraft Bees isn't loaded?

[2015-07-31 02:12] Ar97x commented on #21
That could be something interesting, since forestry apiculture is more used
than GC Bees, because using both in a modpack is kinda redundant. Maybe
this is just a oreDictionary case, using not the item "Honey" but the
oreDict. "Honey". But I know almost nothing of programming so I must be
saying shit.

[2015-07-31 02:17] Alatyami commented on #21
Should be easy to do actually. A simple post init.

Sent from Yahoo Mail on Android

[2015-07-31 16:20] alatyami opened #22 "Use Travis CI to conduct builds"
If anyone has worked with the .travis.yml file format before, we'd like some assistance with it so that we can start building is distributing.

[2015-07-31 16:57] IceDragon200 commented on #9
@alatyami This can be closed now

[2015-07-31 17:02] #9 closed

[2015-07-31 17:28] Alatyami commented on #19
The last pull has been merged.  Until Gwafu gives me access to his repo, I'll check in one it every now then and then redirect them here.

[2015-07-31 17:28] #19 closed

[2015-07-31 17:29] IceDragon200 opened #25 "Adding a License"
Now that Growthcraft is ran by the community, we at least need a license, [MIT](http://opensource.org/licenses/MIT), [GPL2](http://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html), [GPL3](http://www.gnu.org/licenses/gpl-3.0.en.html), [Apache-V2](http://www.apache.org/licenses/LICENSE-2.0), [MMPL](http://bdew.net/minecraft-mod-public-license/) or something else, that way we don't run into the big

[2015-07-31 17:35] Alatyami commented on #25
Legally, we are covered as he made the code readily available and full
credit has been given and we are not making any money off this. This is
also the reason why we are maintaining the fork structure.

But you are right. We need to go towards a general open source license to
make sure that those that fork us are also covered.

James E. Hunt

On Jul 31, 2015 1:29 PM, "Corey Powell" notifications@g

[2015-08-01 01:04] IceDragon200 commented on #1
Can I add seaweed to the list of ideas?
:( I don't get to see much seaweed in mods, and the ocean is mostly barren anyway

[2015-08-01 01:11] Ar97x commented on #1
No trouble for me. Do you have further ideas or will it be just miscellaneous?

[2015-08-01 01:34] IceDragon200 commented on #1
@Ar97x: Well we could add some more fishes/marine food stuff:
Lobster, Crab, Shrimp, their shells could be used as decorative blocks
...
Electric Eels; Which could double as a battery in certain tech mods.

Scenario:

[code]

[2015-08-01 01:40] Ar97x commented on #1
Cool, I think that, as we already have rice from GC and Salmon from Vanilla, we can add seaweed and make sushi haha
As you had the idea, maybe a sea module could be added to our To Do List?

[2015-08-01 01:45] IceDragon200 commented on #22
@alatyami http://xeiam.com/configure-travis-ci-to-deploy-snapshots/

Maybe something like this?

[2015-08-01 02:02] Alatyami commented on #1
Very interesting ...

On Jul 31, 2015 9:34 PM, "Corey Powell" notifications@github.com wrote:

[2015-08-01 02:51] Sunconure11 commented on #21
This would be a good idea.

My sleep schedule has gotten worse, so I might not be active for a few days.

[2015-08-01 03:45] Ar97x commented on #21
I'm studying 30h per week, so time is scarce by now, but I'll try to work
on the translation on this weekend as well as getting some tests and
leveling on COD hahaha

[2015-08-01 12:30] Sunconure11 commented on #16
For Botania, why not allow the Drum of the Wild to harvest our plants?

[2015-08-01 15:33] SynfulChaot commented on #16
Remember that the Drum of the Wild may harvest, but it also _always_ fully uproots them.

[2015-08-05 09:44] PitchBright opened #26 "AppleCore API"
Can you guys make Growthcraft implement/compatible with the AppleCore API?
That'll make it work with Hunger Overhaul and Spice of Life, I believe.

[2015-08-07 12:43] IceDragon200 commented on #26
@PitchBright I just read the AppleCore API and checked the Growthcraft code, all items already `extend ItemFood`, and use the `FoodStats#func_151686_a` function, so it should work with AppleCore.

The only issue right now is the custom plant blocks (grapes, hops, rice) since they use custom logic.
I'll try implementing this later today (don't hold your breath though)

[2015-08-07 15:49] PitchBright commented on #26
Sorry, you're right, I wasn't even thinking about the food stuff. It was actually those custom blocks I was hoping you could work your magic on.

[2015-08-07 15:52] IceDragon200 commented on #26
@PitchBright you can check out the PR, I'll put up a link to the jar so you can test it

aka. Be my ~~loyal guinea pig~~ tester :D

[2015-08-07 15:59] PitchBright commented on #26
Aight cool. Happy to help. What version of Forge is it built on? I'm running v1291.

[2015-08-07 16:02] Ar97x commented on #26
The most recent one I've tested is v1489, but I think it is compatible to most new versions

[2015-08-07 16:02] IceDragon200 commented on #26
@PitchBright Its built on `1448`, _me looks at the build.gradle again_ yup

[2015-08-07 20:22] Sunconure11 commented on #1
The still will be worked on soon, my sleep schedule has been fixed. I need to finish the model I am making for another mod first, but, I'll likely push out some textures in the next few days.

[2015-08-07 20:23] Sunconure11 commented on #4
I am working on the rice page.

[2015-08-07 20:24] Sunconure11 commented on #1
They will be block textures for the grape cultivars.

[2015-08-07 21:25] IceDragon200 commented on #1
I just realized, villages don't have rice! (as far as I saw)

Man shall not live by bread alone (and potatoes and carrots... and liqour)

[2015-08-07 21:49] Ar97x commented on #1
I know, I want it too. It's tiring to break 1617272828 grass to get 10 rice to start a farm. If you want, I can make a schematic for it so you can base on it to implement rice farms at villages.

[2015-08-07 22:34] IceDragon200 commented on #1
@Ar97x :O That would be awesome, do eeeet!

[2015-08-08 22:27] Alatyami commented on #22
Perfect. I am going to look into curse forge for distribution.

[2015-08-10 04:08] Ar97x commented on #4
Have you found a good place to do it? Share it so I can start working on it too.

[2015-08-10 04:15] Ar97x commented on #1
Finished. As an excuse for my lateness, I did something for Bamboo and Apple modules too. I want you to have a look and give me a feedback, so if it is bad I can remake it. I put the schematics and the world I used to make them on the zip: https://www.dropbox.com/sh/44vgzc9che5x040/AABQVFuZEEWyJp-aIMRfRTcJa?dl=0

[2015-08-10 05:13] Ar97x commented on #2
Did it. I will keep an eye for further translation on what's coming next.

2015-07-21 20:01 GMT-04:00 Alatyami notifications@github.com:

[2015-08-10 05:18] #2 closed

[2015-08-10 10:09] PitchBright commented on #26
Might be able to close this as per #29 & #27

[2015-08-10 15:11] IceDragon200 commented on #1
@Ar97x I think you forgot to mention all the mods I need to play this world, it crashes with an Invalid Biome ID error, in addition, I tried loading the schematics using schematica, but some of the blocks are missing :(

You could provide some screenshots, I should be able to create the village components from those :3

[2015-08-10 16:52] Ar97x commented on #1
Damn, that's right. I thought the other mods wouldn't interfere. I will do
it again just with GC

[2015-08-10 18:49] Sunconure11 commented on #26
It has been implemented.

[2015-08-10 18:49] #26 closed

[2015-08-10 18:53] Sunconure11 commented on #4
https://github.com/alatyami/Growthcraft-1.7/wiki I'm using this. It also has pages for various concepts.

[2015-08-10 19:12] Alatyami commented on #4
I'm thinking we are going to go with http://ftb.gamepedia.com/GrowthCraft as they already have the widgets for displaying the different UI's.

[2015-08-10 19:16] Ar97x commented on #4
I prefer FTB Wiki too, I think it is more prepared for mod researching and
is aesthetically better. And it's more known too.

[2015-08-10 19:25] Alatyami commented on #4
We'll continue to have the conceptionals here but all of the "how to use" the plugins will be stored over there.

[2015-08-10 19:25] #4 closed

[2015-08-11 03:59] Ar97x commented on #1
https://www.dropbox.com/s/9y4j6vmf8udkt75/Builds.zip?dl=0
I forgot to take screenshots, but the schematics and the world are there.

[2015-08-12 00:52] IceDragon200 opened #34 "Review Process"
After the advent of #31, #32 and #33, I think I need to raise this issue so this problem never happens again. Sorry if I'm picking on anyone, but its for the better.

Basically, what I've been introduced to is the concept of maintainer check offs, where you create PR, the maintainers review it, and then a number of the maintainers give a `LGTM`, "Looks Good To Me", that's when its merged, so PRs a

[2015-08-12 02:18] Alatyami commented on #34
Completely agree, with one exception, a Pull Request means that development for a given item is done and one is ready for peer review. The only changes that should be made after the pull request is started is to resolve feedback from the PR comments.

Also, completely agree that pull requests for master should only come from the development branch. So that master (I.e. is never ahead of the develo

[2015-08-12 04:58] IceDragon200 commented on #34
Yeah I was peeking at the releases and noticed a new commit on master earlier as well, how the jar pushing going?

[2015-08-12 23:06] alatyami opened #36 "Move to JDK 1.8"
What are your thoughts on moving to JDK8?  Travis-ci supports the oracle jdk 8. Pros/Cons?

[2015-08-14 17:20] spannerman79 commented on #36
Personally I'd say go for it.
But looking at how so many users are still on even _Java 6_ going to 8 outright might cause issues for some users.

[2015-08-14 17:49] spannerman79 commented on #18
I'd go for this as long as there was continued support for MC 1.7.10 until Sponge is ready.

[2015-08-14 18:36] spannerman79 commented on #25
Perhaps http://creativecommons.org/licenses/by-nc-sa/4.0/ ?

Edit: But to ensure proper licence carry over @Gwafu  must update the [Licence](https://github.com/Gwafu/Growthcraft-1.7/blob/master/LICENSE.txt) too.

[2015-08-15 02:30] Sunconure11 opened #42 "Set up a curse page"
In the future, we should set up a page on curseforge for this mod.

[2015-08-15 03:01] Alatyami commented on #42
That's the plan, I wanted to get Travis-CI production ready. Next is to
split the jars out again and then push it all to curse.

Alatyami

On Aug 14, 2015 10:30 PM, "Joseph Caleb Jones" notifications@github.com
wrote:

[2015-08-16 13:26] alatyami opened #45 "Curse Forge Project"
I was about to start a new project registration on Curse and as Gwafu is unresponsive I was thinking of making the project titled as "Growthcraft Community Edition"? But it sounded, well not cool. What are some ideas for our project name?

After we establish the Curse project then I'll create the minecraft forums post so that we can restart the thread and get away from the old one that Gwafu start

[2015-08-16 14:06] alatyami opened #46 "Update Minecraft Forum Post"
We need to create and maintain a new thread on the Minecraft Forum to split away from Gwafu's original thread. This should fix most of the old 'growthcraft crashes due to forge' posts and mark the new era of the plugin.

[2015-08-16 16:19] spannerman79 commented on #45
How about Growthcraft CE?
On 16/08/2015 11:26 PM, "Alatyami" notifications@github.com wrote:

[2015-08-16 16:38] Ar97x commented on #45
I liked Community Edition, but as an option we could use GrowthCraft Revival

[2015-08-16 17:03] spannerman79 commented on #45
That's good too. But "technically" Growthcraft hasn't died - so there isn't
a revival per say.
On 17/08/2015 2:38 AM, "Ar97x" notifications@github.com wrote:

[2015-08-16 17:24] Ar97x commented on #45
Metaphorically

[2015-08-16 17:35] Oxosorrel commented on #45
There are lots of puns that would work.

Growthcraft: Replanted
Growthcraft: Reseeded
Growthcraft: Transplanted
Growthcraft: Regrowth

[2015-08-16 17:43] Ar97x commented on #45
ReGrowthCraft?

[2015-08-16 17:51] Oxosorrel commented on #45
Growthcraft: Community Garden
Growthcraft: Second Harvest
Growthcraft: Regrown

(I should stop now)

[2015-08-17 09:31] labpaw commented on #18
I would suggest you to skip 1.8 and wait for Forge 1.8.8. And 1.7.10 should be supported until mods actually start moving to 1.8.x

[2015-08-17 09:32] labpaw commented on #45
Growthcraft: Regrowth sounds cool or maybe Growthcraft: Reborn.

[2015-08-17 10:01] Adaptivity opened #48 "Restore compatibility with Thaumcraft and Forestry"
I've noticed that some compat already in but it's commented out (probably outdated and never was touched since 1.6.4). Perhaps, it will be better to remove Forestry compat and move it into Forestry itself since Forestry have built-in support for many mods. @Nirek-K wrote many compatibility modules for Forestry, so I'm ping him and he can take a look.

[2015-08-17 10:23] Alatyami commented on #45
I'm thinking "Growthcraft CE" and the we can name the major releases for fun.

[2015-08-17 10:27] alatyami opened #49 "Change default repo to development"
We need to change the default repo to development so that those that want to contribute are by default prompted to go off of the `development` branch instead of `master`.

Does anyone see any issues with this?

[2015-08-17 10:32] Adaptivity opened #50 "Localization improvements"
1) Currently there are no way to change bucket names. They are using default localization of *Bucket* plus *Fluid name*. They should use something [like this](https://github.com/CoFH/ThermalFoundation/blob/master/src/main/resources/assets/thermalfoundation/lang/en_US.lang#L35), so they will be translated correctly in other languages.

2) [This tooltip](https://github.com/Gwafu/Growthcraft-1.7/blob

[2015-08-17 11:03] Adaptivity opened #52 "Fluids needs rewriting"
Here's some issues which I've noticed during testing fluids:

1) You can't pour Growthcraft fluids in world.

2) ~~Custom buckets (like [wooden buckets](http://minecraft.curseforge.com/mc-mods/233189-sbm-wooden-buckets)) can't pickup Growthcraft fluids. However, other custom fluid containers can hold GC fluids without problems (like OpenBlocks tank, Mekanism portable tank etc) so I'm ping @DarkGua

[2015-08-17 11:38] Sunconure11 commented on #49
Yeah, this would be a good idea.

[2015-08-17 11:41] DarkGuardsman commented on #52
As far as i can tell the mod doesn't have blocks for it's fluids. Which is not a problem as not all fluids have blocks. As for the wooden buckets they are only coded to pickup water, lava, and IFluidBlocks. Support for tanks is also not removed but rather I removed support for forge's fill bucket event. Which was constantly failing across several mods. What might actually be going on is most tanks

[2015-08-17 11:50] Alatyami commented on #49
Done. It might break some of the previous clones, but we can address those issues if they come up.

[2015-08-17 11:50] #49 closed

[2015-08-17 12:52] Alatyami commented on #25
I'd say that one is close ... I think we are looking for a license that is open for modification but others cannot publish their versions of it. Trying to limit future conflicts with other distro's. @Gwafu is listed as a Collaborator on our repo's so that when/if he does come back he still has control over what we have and distribute.

[2015-08-17 13:12] Adaptivity opened #54 "Fix warnings while building"
There are 26 warnings appears when you complete the build. Build compiles successfully but they are still needs to be fixed.

[2015-08-17 13:24] Adaptivity opened #55 "Fix fuel handler issues"
There are 2 issues with fuel handler:

1) Apple sapling have missing fuel value. It's should have 100 ticks burn time.

2) Bamboo slab have incorrect fuel value (300 but should have 150). It's happens due to bug in FML/Forge but you still can workaround this. Check how [Forestry fixed it](https://github.com/ForestryMC/ForestryMC/commit/6870dafe020e25dfe16ee6467b1660638671fd1a).

[2015-08-17 18:49] PitchBright opened #56 "Drop rate config may not work as expected"
Rice/Grape/Hops

I find the drop rate in the config files a bit confusing. Using Rice as an example:

    # [Higher -> Rarer] Default : 3
    I:"Rice grass drop rarity"=3

I find that Rice drops too often from grass, so I tried setting it to 100. It seemed to drop as often, if not, more often than the default setting of 3. Then I tried setting it to 0, and now Rice doesn't drop at all.

The way th

[2015-08-17 19:38] Alatyami commented on #46
I am building the new post right now.

[2015-08-17 21:13] Alatyami commented on #46
The new forum post has been created.
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2505072-growthcraft-comminity-edition-proper-1-7-10

[2015-08-17 21:13] #46 closed

[2015-08-17 21:30] Alatyami commented on #45
Ended up going with the CE. Project is currently being reviewed, then I'll post a link when it is live.

[2015-08-17 23:45] spannerman79 commented on #25
In that case http://creativecommons.org/licenses/by-nc-nd/4.0/

Still ... for "legal" terms @Gwafu still must update his Licence to reflect his acceptance that anyone can create work based on his code - and that Licence must be located within the repo - or code base - for all to see.  Otherwise http://creativecommons.org/licenses/by-nc-nd/4.0/ will be null and void.

[2015-08-18 00:08] spannerman79 commented on #45
http://minecraft.curseforge.com/mc-mods/235092-growthcraft-community-edition

[2015-08-18 00:24] spannerman79 opened #57 "Modpack Request"
As per Terms regarding addition to modpacks I am requesting permission to add GrowthCraft CE to my pack.

Pack Name: Unknown yet - still talking with mates over the name to be honest
Pack Status:  Private/hidden with possible future public release
Pack Deployment method: via Technic Launcher self hosted Solder setup (http://solder.io/)
Mod list:  See this is where it gets tricky - unless you alrea

[2015-08-18 02:48] Sunconure11 opened #58 "Find artists for the logos of future modules"
We need an artist to aid with the logos of future modules. Does anyone know of anyone that can aid with this? I am contacting one of my friends to see if she can aid with this, but, the answer will likely be no.

[2015-08-18 12:51] Sunconure11 commented on #58
I also set up the issues page on Curse, which should connect it to this github issues page.

[2015-08-18 23:05] #45 closed

[2015-08-18 23:08] Alatyami commented on #57
That is a catch ...

You can use Growthcraft CE in your mod pack. Let us now if you need anything extra for submitting your modpack to the launcher.

[2015-08-18 23:08] #57 closed

[2015-08-18 23:11] Alatyami commented on #57
Side note, if your pack goes public, let us know and we'll list it in our Readme file.

[2015-08-19 18:47] PitchBright opened #59 "IRC channel for Growthcraft"
Sorry, I know this isn't an issue… but didn't know where else to get a message through to the devs, since I don't know how to PM on git.

I've started an IRC channel #growthcraft on espernet, with the hopes that the devs and community will enjoy/use it. Already had a couple people pop by in the first 24hrs. So there must be a little bit of a need for it. If the devs join, we'll hand over the keys

[2015-08-19 19:06] Alatyami commented on #59
Sounds like a great idea ... we'll take it on. I should be in there later
tonight. GitHub unfortunately doesn't have messages :(

~Alataymi

On Wed, Aug 19, 2015 at 2:47 PM, Johnny Tweed notifications@github.com
wrote:

[2015-08-20 01:23] spannerman79 commented on #59
There is [Gitter](https://gitter.im/)

[2015-08-20 03:23] Alatyami commented on #59
We now have a persistent IRC chat room on espernet.

Gitter has a max 20 or 25 in the room.

[2015-08-20 03:23] #59 closed

[2015-08-20 03:24] Alatyami commented on #42
We have a page and the complete jar has been posted.

[2015-08-20 03:24] #42 closed

[2015-08-20 03:26] Alatyami commented on #22
Ok .. looks like in order to have gradle produce the separate jar for each sub-module we are going to have to restructure the project with the following:

[code]

I'm really wishing the GitHub had a voting system for issues. It might be easier to just add a boolean into the config for if the mod is to be activated or not.

[2015-08-20 04:23] #36 closed

[2015-08-20 04:25] Ar97x commented on #42
Have you posted on the Forum?

[2015-08-20 04:29] Alatyami commented on #42
I'll add it to the main post in the morning.

On Aug 20, 2015 12:25 AM, "Ar97x" notifications@github.com wrote:

[2015-08-20 04:33] Ar97x commented on #1
@Sunconure11 are you following and noting the suggestions for our list? If you are too busy or can't do it right now, I can take this function for some time.

[2015-08-20 04:38] PitchBright commented on #58
I should be able to do this for ya, but I'm always tight for time. That said, I'll be upfront and honest... I hate "design by committee". I'd want the authority to implement what I decide on. That doesn't mean I'm not open to feedback. But it also means, while I'm open to feedback, I won't necessarily bend to it. LOL.

My approach with it would be to honour the existing style and identity that Gwa

[2015-08-20 04:47] PitchBright opened #61 "Feature Request: Configurable Fruit Press"
This idea came to me in using the Thirst Mod. It has a Drink Brewer block that you can stick something into, and get a drink in return. The inputs and outputs (drinks) are configurable, and the user essentially creates their own drinks via config file. That includes drink naming, drink colour, thirst replenish, saturation, poisoning chance, etc. It's quite ingenious.

The Fruit Press in GC is awes

[2015-08-20 04:57] Ar97x commented on #58
@PitchBright I think we should keep Gwafu's art style too. I can always give some attention and eventual feedbacks. Like you said, you don't need to follow precisely my commentaries.

[2015-08-20 05:08] Ar97x commented on #61
Perhaps we can create another machine, something like a juicer or a blender, and letting people choose whatever it want to make, just like you mentioned. Maybe we can have Tarun's help on making the drinks from GC work on Thirst Mod, I've tried to do it before (not so hard) but I failed. This is something I'm looking forward, since I play with both mods for a long time. This could be our first int

[2015-08-20 05:44] Yulife commented on #61
If you guys want to natively add Minetweaker support another complete configurationability via configs would be double the work. In my opinion, just stick with MT support, it's configureable to most extend.

[2015-08-20 06:04] PitchBright commented on #61
@Ar97x But the fruit press looks and works so amazing. It's got that turn-of-the-centry "Pioneer" feel to it. The Drink Brewer serves as a machine/juicer/blender just fine… it's just that it's not nearly as cool as the Fruit Press. That was my angle with it.

@Yulife I'm not sure what you mean. I use both Minetweaker and Thirstmod, and I'm not making the connect with what you're saying. Can you cl

[2015-08-20 06:07] PitchBright commented on #61
@Ar97x I actually think I could get you the Thirst Mod, if you wanted it. I've been talking to the author for a few years, and I might be able to talk him into letting you carry the torch. He's on-and-off with the mod, and doesn't/can't really support it, for the demand it garners. I think the lack of support is it's biggest downfall, otherwise it would probably be standard and "must-have" by most

[2015-08-20 06:44] Ar97x commented on #61
I have worked with him some time ago (portuguese translations are mine). My only fear about taking the mod is that I don't know shit about programming. I can do a decent work responding questions and stuff, updating forums and making it look cooler, but when someone comes with a technical error I would be completely lost. I love that mod and I do know that all it needs is real support, and I don't

[2015-08-20 07:43] Yulife commented on #61
@PitchBright iirc Minetweaker support was planned so why would you need config options to define recipes for the Fruit Press?

[2015-08-20 08:03] PitchBright commented on #61
@Yulife I was thinking because it's not a matter of simply connecting a pre-existing input to a pre-existing output. The Thirst Mod provides you with the final product in a glass bottle, but the Fruit Press produces a liquid (an in-between stage) and you would need to be able to configure the press to create your own liquids, where none exists. From there, you would click on the liquid-filled Frui

[2015-08-20 10:00] Yulife commented on #61
I'm sorry but your whole Thirst mod stuff confuses me. haha

[2015-08-21 01:33] Sunconure11 commented on #1
I'll go ahead and look for more suggestions.

[2015-08-21 01:35] Sunconure11 commented on #1
Added sushi and various block suggestions.

[2015-08-21 02:30] IceDragon200 commented on #56
Wheat is `10` by the way, I've been following where this value goes, I've ended up all the way into [forge](https://github.com/MinecraftForge/MinecraftForge/blob/1.7.10/src/main/java/net/minecraftforge/common/MinecraftForge.java#L42) still tracing it.

After looking through it, I've ended up in the minecraft codebase with `WeightedRandom`, and I still have no idea how it works.
#Java

The most I c

[2015-08-21 02:40] PitchBright commented on #56
Aight cool.

It was actually just the description in the config that I was reporting as an issue. I feel like it should be worded in a way that makes (more) sense, or is more descriptive.

[2015-08-21 12:57] Sunconure11 commented on #1
I also added a bit more to the tubers concept page.

[2015-08-21 14:38] Sunconure11 opened #62 "Modpack Request: Compitum Magia"
Within a couple of days, I will be updating this modpack to use the new version of Growthcraft, along with several other mods.

http://www.technicpack.net/modpack/compitum-magia.647447

I will be removing ESM, and adding Custom NPCs and Et Futurum.

This modpack was originally created as a collaboration between me and another user, but, he seems to have lost interest in minecraft.

[2015-08-21 15:28] Alatyami commented on #62
Lost interest in minecraft ... that just isn't right.

Inclusion of Growthcraft CE in your modpack is automatically approved.

[2015-08-21 15:28] #62 closed

[2015-08-23 09:21] TokenSlot opened #63 "Requesting modpack permission"
I would like to add GrowthCraft for my modpack (already had Gwafu's GrowthCraft added to the modpack but I want an updated version)

Ultimate HarvestCraft
Link: http://www.technicpack.net/modpack/ultimate-harvestcraft.566785

Mods:
Calendar Mod
Doors O' Plenty
Doors by iChun
Lattice Mod
Garden Stuff
SmartCursor
DoggyStyle
BrewCraft
AquaCulture
bspkrsCore
Backpack mod by Eydamos
Code Chicken Core
D

[2015-08-23 22:06] Alatyami commented on #63
Inclusion of Growthcraft CE in your modpack is automatically approved.

[2015-08-23 22:06] #63 closed

[2015-08-26 10:15] Spydog123 opened #64 "Modpack Request - Mechanical Haven"
Hello,

I am requesting to use your Growthcraft Community Ediition mod in my modpack,

You can find the modpack using this link - http://forum.feed-the-beast.com/threads/1-7-10-mechanical-haven-tech-300-mods.83487/

And as for the mod list, you can find it using this link - https://github.com/Spydog123/Mechanical-Haven/blob/master/Mod%20List

I will soon make a google spreadsheet for the mod list.

[2015-08-26 12:10] dandudek7 commented on #1
How about a revival of the Flowers module?

[2015-08-26 17:51] Sunconure11 opened #65 "Prickly pear textures"
A user has made textures for the prickly pear plants. Should we implement them now, or make our own?

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/2505072-growthcraft-community-edition-proper-1-7-10?comment=32

[2015-08-26 18:02] Alatyami commented on #65
We can create a branch and then put it in as a pull request for them.

On Wed, Aug 26, 2015 at 1:51 PM, Joseph Caleb Jones <
notifications@github.com> wrote:

[2015-08-26 20:47] Alatyami commented on #65
I'll pick this one up unless someone else already has?

[2015-08-26 21:25] Alatyami commented on #65
Didn't realize that this was actually for a new Item. Which mod do we want to add this too?

[2015-08-27 05:32] Yulife commented on #65
It's a cactus fruit iirc so desert module? :)

[2015-08-27 16:23] dandudek7 commented on #65
Yeah you remember correctly, it's a cactus fruit. You use the fruit press to make it into colonche.

[2015-08-27 17:47] Sunconure11 commented on #65
Hm, how should we have the plant grow to use these textures?

[2015-08-27 17:49] dandudek7 commented on #65
It grows like a cocoa bean but on cactus instead of wood.

[2015-08-27 17:54] Sunconure11 commented on #65
That's what I'm interpreting from the textures.

[2015-08-27 18:12] Yulife commented on #65
If you want to make it grow on cactus won't it have a gap between the cactus and its fruit? A cactus isn't a full block. You guys might need to add some offset or something depending on where it's facing the cactus.

[2015-08-27 18:42] Ar97x commented on #65
Or maybe add some other kind of cactus that is adapted to the texture, or making it grow on top of the cactus.

[2015-08-27 19:32] Yulife commented on #65
Actually, cactus fruits usually grow on top of a cactus. Perhaps you could add it ontop :) Yeah, a Prickly Pear Cactus would fit. haha

[2015-08-27 20:15] Sunconure11 commented on #65
Yeah, they do.

[2015-08-27 20:16] Sunconure11 commented on #65
http://www.pricklypearjuice.org/resources/BusinessPricklyPearLabelPicture.Extended.Agreement-1.jpeg.opt425x283o0,0s425x283.jpeg

Also, does anyone have any suggestions for future desert crops aside from Agave, Prickly Pears, and Ocotillo? I think it could be a bit more fleshed out.

[2015-08-27 20:52] Ar97x commented on #65
I don't have any, but I think we should work on new kinds of cactus, maybe one that stores water, one that flourish and give the prickly pears, it's something I would like to see on a desert module.

-------- Mensagem Original --------
De:Joseph Caleb Jones notifications@github.com
Enviado em:Thu, 27 Aug 2015 16:16:21 -0400
Para:"alatyami/Growthcraft-1.7" Growthcraft-1.7@noreply.github.com
Cc:Ar97

[2015-08-27 21:22] EnderCreeper15 commented on #65
[url=https://33.media.tumblr.com/576636de65faa183876034153a2d95b7/tumblr_nsp66cIGGw1tzoqq7o1_500.gif]Cactus juice, anyone? [/url]

[2015-08-27 21:22] dandudek7 commented on #65
Cactus juice!! https://33.media.tumblr.com/576636de65faa183876034153a2d95b7/tumblr_nsp66cIGGw1tzoqq7o1_500.gif

[2015-08-27 21:25] dandudek7 commented on #65
Cactus juice could be crafted with a cactus and a bottle, it gives you a hallucinogenic effect but if the Thirst mod is installed it could restore a lot of thirst.

[2015-08-27 22:17] EnderCreeper15 opened #66 "Nether module"
Pretty much every idea we have for Growthcraft so far has been in the Overworld only (well except for the magic vines). We should probably add some content to the Nether as well, especially since right now in vanilla, the Nether has literally only one crop.

Ideas:

- Soul squash: a pumpkin-like plant that grows on soul sand. The stalk grows upside down and the block spawns under it. Soul squashes

[2015-08-27 22:18] Ar97x commented on #65
Yeah, that's good, I thought of water from cactus because I play a lot with Thirst mod

-------- Mensagem Original --------
De:Daniel Dudek notifications@github.com
Enviado em:Thu, 27 Aug 2015 17:25:47 -0400
Para:"alatyami/Growthcraft-1.7" Growthcraft-1.7@noreply.github.com
Cc:Ar97x vdiehl97@gmail.com
Assunto:Re: [Growthcraft-1.7] Prickly pear textures (#65)

[2015-08-27 22:29] Ar97x commented on #66
Damn, I was thinking about Nether stuff whrn I saw it, what about Nether
Peppers, that grows on soul farmland (plotted soul sand with lava nearby),
that can be used on a fruit press (perhaps a Nether version?) and make
pepper sauce, that gives haste and hunger, or crafted with sugar to make
peppermint (ba dum tss). We can think on some drink to put you out of fire,
maybe made of some kind of crop

[2015-08-27 22:34] Sunconure11 commented on #66
I shall write a bunch of ideas, and include these.

[2015-08-27 22:49] Sunconure11 commented on #66
https://github.com/alatyami/Growthcraft-1.7/wiki/Growthcraft-Nether-(Concept)

[2015-08-27 23:27] dandudek7 commented on #66
Nether peppers? Sounds cool. Perhaps call them ghost peppers as a reference to the real life ghost pepper, which is one of the spiciest peppers in the world (I tried it once, -666/10 would not eat again).

I could try to have some textures up soon.

[2015-08-27 23:32] dandudek7 commented on #66
Also, sunconure, I just read through the wiki and your ideas are awesome. ... And now I have like 3x more work to do. It's cool though, not like I was planning on starting my summer reading anyway :)

[2015-08-27 23:53] Ar97x commented on #66
I liked ghost peppers, but I think  that having fire resistance for more than one plant is redundant. The ectoplasm idea is good too, specially if we have a way to farm it. Perhaps we can make it a secondary output for the drinks (just like bone meal, but for nether stuff, and more rare). I would like to have the terrain to plant like rice paddys, but using lava and soul sand. I think the peppers

[2015-08-28 00:16] Sunconure11 commented on #66
I am considering some kind of tree for the nether. I'm writing stuff for the end, and have atleast one tree for the end.

[2015-08-28 00:47] Sunconure11 commented on #66
I added some of the changes in this thread to the nether concept page.

[2015-08-28 01:22] dandudek7 commented on #66
Yeah having fire resistance for more than one plant is pretty redundant. Maybe instead of brewing, make ghost peppers a potion ingredient for a new Incendiary Potion (hot sauce lol) which lights the target on fire.

[2015-08-28 01:24] dandudek7 commented on #66
Ok I'm gonna go to bed but here's what I got done so far: https://www.dropbox.com/s/kny2wlsr7meil85/Growthcraft%20Nether.zip?dl=0

[2015-08-28 01:25] Sunconure11 commented on #66
I will send these in a pull request.

[2015-08-28 01:34] Ar97x commented on #66
Incendiary splash potion, that's really cool.

-------- Mensagem Original --------
De:Joseph Caleb Jones notifications@github.com
Enviado em:Thu, 27 Aug 2015 21:25:21 -0400
Para:"alatyami/Growthcraft-1.7" Growthcraft-1.7@noreply.github.com
Cc:Ar97x vdiehl97@gmail.com
Assunto:Re: [Growthcraft-1.7] Nether module (#66)

[2015-08-28 01:35] Sunconure11 commented on #66
Why is it that every time I send a pull request, it screws up in my face?

[2015-08-28 01:46] Sunconure11 commented on #66
I am considering netherrash infected variants of all vanilla mobs, plus the few mobs I will create models for when/if the butcher module is made. I can probably do them in the mean time while I try to figure out an idea for the still properly.

[2015-08-28 01:47] Sunconure11 commented on #66
I will also probably tweak the concepts so ghost peppers can be used for incendiary splash potions.

[2015-08-28 01:47] Sunconure11 commented on #66
But I'll go to bed, I'm feeling a bit under the weather.

[2015-08-28 05:34] Yulife commented on #66
Wouldn't that be a bit overkill? Hehe. And I agree to the name ghost peppers.

[2015-08-28 18:30] Sunconure11 commented on #66
I submitted the muertecap textures.

[2015-08-28 20:45] Ar97x commented on #1
@IceDragon200 I think we'll need to change some things on the structures, people reported that they aren't spawning with support (foundation) and I've made some improvements to the Apiary. @alatyami could these improvements be on the next public release?

[2015-08-28 20:46] Ar97x commented on #1
@EnderCreeper15 I haven't played with it, when I started to use GC the flowers module was already outdated.

[2015-08-28 20:54] Ar97x commented on #66
The GC Nether concept page is amazing, I read it all and I'm so excited for it, can't wait to see all of it in game!

[2015-08-28 21:16] IceDragon200 commented on #1
@Ar97x: What exactly is this support foundation you speak of, I think can allocate some time to fix it.

[2015-08-28 22:51] Ar97x commented on #1
Structures generated on unlevelled locations get totally screwed, what we need is to make it spawn on top of a base, out of cobble or grass. If you want to know better, the report is on the comments of the CE thread http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/2505072-growthcraft-community-edition-proper-1-7-10

[2015-08-28 22:53] Ar97x commented on #1
I think 10 or 15 blocks of height are enough

-------- Mensagem Original --------
De:Corey Powell notifications@github.com
Enviado em:Fri, 28 Aug 2015 17:16:29 -0400
Para:"alatyami/Growthcraft-1.7" Growthcraft-1.7@noreply.github.com
Cc:Ar97x vdiehl97@gmail.com
Assunto:Re: [Growthcraft-1.7] Ideas suggested so far (#1)

[2015-08-29 13:49] IceDragon200 commented on #1
@Ar97x I saw the screenshot with the Bamboo Yard, I'm thinking of clearing the entire block/box with air first, placing a layer of dirt below the structure and then placing the structure on that, that way, nothing is in the building's bounding box. WDYT?

[2015-08-29 13:50] Nirek-K commented on #48
I've actually been meaning to do something with growthcraft for a while, but everytime I looked I couldn't find a version that was still supported.

[2015-08-29 14:00] Nirek-K commented on #48
If you have a list of all the things commented out/in need of restore, as well as any other things you think might fit as integration, that would be great.

[2015-08-29 14:16] labpaw commented on #48
List of commented out stuff:
1) [GrowthCraftGrapes](https://github.com/Gwafu/Growthcraft-1.7/blob/e1fa09b12eec6b78269c1e4a3db35b82ae5ff7d1/src/java/growthcraft/grapes/GrowthCraftGrapes.java#L236)
2) [GrowthCraftApples](https://github.com/Gwafu/Growthcraft-1.7/blob/e1fa09b12eec6b78269c1e4a3db35b82ae5ff7d1/src/java/growthcraft/apples/GrowthCraftApples.java#L209)
3) [GrowthCraftRice](https://github.c

[2015-08-29 14:26] Ar97x commented on #48
What kind of compat are you thinking with Forestry?

[2015-08-29 14:30] Ar97x commented on #1
Do you think it'll work, even on uneven terrain? Maybe you can add some
condition to it spawn on surface level, or just on plain terrain, that the
schematic fits?
Em 29/08/2015 09:49, "Corey Powell" notifications@github.com escreveu:

[2015-08-29 14:39] Ar97x commented on #1
Btw, don't mind working with the Apiary, I'll change that schematic soon,
I'm working on a new model, since most people didn't like it.

[2015-08-29 14:40] IceDragon200 commented on #1
@Ar97x Only extensive testing will say otherwise, I could look how vanilla does it (though I've seen houses tower over villages with 20 blocks of gravel in height as padding)

As for the Apiary, make it more vanilla village like I guess?

[2015-08-29 14:41] Nirek-K commented on #48
Most of that should be quite straightforward, only bit that should/needs to be in growthcraft is the beeregistry/booze stuff in GrowthCraftBees.
I wasn't thinking anything in particular, why I asked for a list, I have only cursory knowledge of what all growthcraft does from forum post/pictures. Multifarm 'should' in theory be possible with all the spadework I've done with the orchard logic, have t

[2015-08-29 14:44] Ar97x commented on #1
Yeah, me and people on forum have several ideas to improve it. I forgot to
suggest you to look on the villages behaviour on irregular terrains, the
structure made by Gwafu works just like the regular village buildings.

[2015-08-29 14:50] Ar97x commented on #48
Do you think even different crops, like grapes and hops should work with the autofarms (or that you can make it work)? I don't play with forestry so much, but I have a lot of admiration for it, in my opinion is one of the most complete mods of Minecraft. Maybe with the improvements I might start putting it in my modpacks again.

[2015-08-29 14:54] Nirek-K commented on #48
I think so, unless it stores maturity in some completely strange way. Won't know definitively until I load it up and give it a poke.

[2015-08-29 15:07] Ar97x commented on #48
I don't think so, Waila showed up maturity just like regular crops, if it matters anything.

[2015-08-29 22:30] Sunconure11 commented on #65
I have create textures for prickly pear juice.

[2015-08-29 22:46] Sunconure11 commented on #65
Sorry about the request spam, I'm trying to get texture commits pushed, but, for some reason they won't load unless I submit another pull request. WTF am I doing wrong?

[2015-08-29 23:12] Ar97x commented on #16
How do I invite someone to this?

[2015-08-30 00:24] IceDragon200 commented on #54
So, can we close this now?

[2015-08-30 01:16] IceDragon200 commented on #16
@Ar97x Place an @ infront of their name, they'll be pinged, and they'll be subscribed once they comment, unless they opt out

[2015-08-30 07:31] #54 closed

[2015-08-30 17:55] Alatyami opened #73 "Mod Pathing Over Bamboo Fences"
Another thing, can someone come up with a fix for mobs attempting to path over bamboo fences? Every world, I try making pastures with bamboo fences, and then hurriedly replace them when I see the animals pressed up against the fence and jumping up and down like somebody tripped with an armload of superballs.

[2015-08-30 18:10] alatyami opened #74 "Move to bitbucket?"
I have been giving this a lot of thought ... BitBucket gives us alot more functionality than GitHub does. The biggest feature is being able to Vote up issues. It also gives us better control over permissions on branching. BitBucket uses Git the same as GitHub so development will be the same.

What are your thoughts?

[2015-08-30 18:11] Alatyami commented on #65
@Sunconure11 Unless you are editing Development directly you have to do a pull request to merge your branch with the snapshot release.

[2015-08-30 18:25] Alatyami commented on #74
A thought on this is that I do not think Travis-CI will build from BitBucket.

[2015-08-30 19:29] Alatyami commented on #55
@Adaptivity Bamboo is at 300 or 800?

[2015-08-30 19:32] Yulife commented on #74
Well would this repo update as well? I would then need another account for BitBucket which is kinda tedious.

[2015-08-30 19:32] labpaw commented on #55
Bamboo _slab_ have 300 but should have 150.

[2015-08-30 19:34] labpaw commented on #74
Please no. Just NO. Please. Not a bitbucket... please... I tried it few times and just hate it. It's very slow and uncomfortable. Github MUCH better. People should move FROM bitbucket (and some of them doing so). Not TO bitbucket.

[2015-08-30 19:38] Alatyami commented on #55
@Adaptivity I have fixed bamboo, now for Apple sapling.

[2015-08-30 20:12] Alatyami commented on #74
Hehe ... The more I think of it .... I agree. I like the functionality of
bitbucket but it is still lacking the integration features that we need.

James E. Hunt

On Aug 30, 2015 3:34 PM, "Anton" notifications@github.com wrote:

[2015-08-30 20:15] alatyami opened #75 "Fix mcmod.info to address child mods."
All of the GC mods are children of Growthcraft Core. Currently all the mods show up as individual mods in the Client Mod Listing. This is an easy fix.

[2015-08-30 20:30] #55 closed

[2015-08-30 20:32] Alatyami commented on #75
Closed via PR #76

[2015-08-30 20:32] #75 closed

[2015-08-30 21:10] Ar97x commented on #73
I've seen this on Forum but I couldn't reply because I was on the smartphone, and Idk how to end a quote on it. Isn't it some minecraft pathfinding problem? I experienced almost the same thing, but with carpenters' fences, cause zombies AI looks like made on a calculator. So I don't think this is our business, it's Mojang's

[2015-08-30 21:13] Ar97x commented on #74
I don't even know how to use GitHub completely, so my vote is no.

[2015-08-30 22:01] Yulife commented on #73
This is a vague guess but did you try to make BambooFence extend BlockFence and see if that works?

[2015-08-30 22:21] Nirek-K commented on #48
Give unstable 686+ a try, I think I got everything, cursory testing on the multifarm part.
https://github.com/ForestryMC/ForestryMC/commit/bcd97662b273e775ff6dac6985b34979b5e5892e

[2015-08-30 22:45] Alatyami commented on #52
@Adaptivity  whcih fluids do you want to be able to be poured into the world?  All of them, e.g. have a swimming pool filled with Booz or Wine?

[2015-08-30 23:09] Alatyami commented on #56
So, looking at the the dev tutorials the description is actually backwards. I've looked at some of the dev tutorials and they complete support the explaination of @IceDragon200

As a fix, we'll correct the description for the config.

[2015-08-30 23:21] Alatyami commented on #56
Resolved via #77

[2015-08-30 23:21] #56 closed

[2015-08-30 23:26] Alatyami commented on #64
Thank you for letting us know your mod-list. If you have any issues, you know where to find us. Of note, I'd switch the Growthcraft by Gwafu to "Growthcraft by Growthcraft Community Team".

Inclusion of Growthcraft CE in your modpack is automatically approved.

[2015-08-30 23:26] #64 closed

[2015-08-30 23:31] IceDragon200 commented on #74
I used bitbucket in the past, I've had random freezes while pulling and pushing, somehow managing to obtain admin rights just by being a contributor (this has been fixed, but it was fun to play around with), confusion with whether the repo was git based or mercurial based, downloading latest HEAD as a zip being horribly broken on some repos.

May I say more?
My vote sits on a no.

[2015-08-30 23:33] IceDragon200 commented on #73
BambooFence extends Block, and has custom logic for interacting with other Bamboo blocks, animals seem to trip out with custom fence blocks all the time. (Natura I'm looking at you...)

[2015-08-30 23:39] Alatyami commented on #73
So then I'm hearing we should make the fence a fence and not a block? I was actually just about to make a branch to address this item.

[2015-08-31 00:15] Alatyami commented on #74
Not going to bitbucket.

[2015-08-31 00:15] #74 closed

[2015-08-31 02:31] Alatyami commented on #22
ProjectRed does this same method of releasing separate jars. I'll look into how they did it this week.

[2015-08-31 05:43] labpaw commented on #52
Yes, all of them should be placeable in the world. There are no reason to not.

[2015-08-31 06:18] labpaw commented on #48
Nice work @Nirek-K! Maybe you can make a PR to fix Forestry integration on Growthcraft? For bees and booze stuff.

[2015-08-31 10:20] Alatyami commented on #52
Simple enough, I'll get to it this week.

[2015-08-31 11:50] Yulife commented on #73
I ain't a good coder and it was just a guess but it's worth a try haha

[2015-08-31 18:01] stardustrider opened #78 "Add another block layer below structures..."
...to prevent flooding when structures using water source blocks spawn on a slope, or any other form of odd generation.

[2015-08-31 21:29] Nirek-K commented on #48
It looks like that bit could just be uncommented, none of those names have changed as far as I can see.

By that bit, I mean these: https://github.com/Gwafu/Growthcraft-1.7/blob/e1fa09b12eec6b78269c1e4a3db35b82ae5ff7d1/src/java/growthcraft/bees/GrowthCraftBees.java#L225-L243
You can remove these lines
https://github.com/Gwafu/Growthcraft-1.7/blob/e1fa09b12eec6b78269c1e4a3db35b82ae5ff7d1/src/java/g

[2015-09-04 22:22] Sunconure11 commented on #1
The still will be created soon. However, I will be getting a new motherboard and cpu soon, so, I am holding off doing anything like that for now. Deinocheirus is put on hold until the maker of that mod finishes his port to 1.8.

[2015-09-09 21:18] Alatyami commented on #52
Just some notes ... Sake | Ale | Grape Wine | Mead | Apple Cider need to be made into real fluids.

[2015-09-09 21:39] Alatyami opened #80 "Add DEBUG logging to all config files"
In order to support, plugin support, we need to be able to tell users to increase the logging of the mod. To do this I recommend that we add a logLevel parameter to the conf files for the different sub-modules or create a global growthcraft.conf that will set the log level for all the sub-modules.

[2015-09-09 21:41] Alatyami commented on #78
This will be addressed in #79 and be in our next release.

[2015-09-09 21:45] alatyami opened #81 "Add IceDragon200 as a contributor"
IceDragon200 has been a major contributor to Growthcraft CE and is a knowledgeable developer. If he agrees, I recommend that we add him as a contributor to the GitHub project. Thoughts?

[2015-09-09 21:54] Ar97x commented on #81
Sure, he will be a great addition to the team.

-------- Mensagem Original --------
De:Alatyami notifications@github.com
Enviado em:Wed, 09 Sep 2015 17:45:41 -0400
Para:"alatyami/Growthcraft-1.7" Growthcraft-1.7@noreply.github.com
Assunto:[Growthcraft-1.7] Add IceDragon200 as a contributor (#81)

[2015-09-15 17:54] zHawky opened #82 "Sickle and vines"
Well if you take sickle from TE and cut minecraft vines you can obtain unlimited hop and wine til break sickle, when i disable drop at all, game crashing.

[2015-09-15 22:00] Sunconure11 commented on #1
Computer is back. I will make the distillery over the weekend, due to the fact I have some stuff to do, such as schoolwork, and I have to continue updating my modpack.

[2015-09-18 18:32] Cealian opened #83 "Modpack Request"
Hi i want to include this growtcraft in my private modpack on the FTB Launcher
i already have the old growthcraft by Gwafu and want to update to the community edition.

mods: http://pastebin.com/N2Jw70gw

[2015-09-18 21:01] MidnightsFX opened #84 "Add support for World-Gen on 'Mod-Dirt' blocks"
Here is the mod in specific I was thinking about. The alternative 'dirt' blocks used (Andisol etc) are not seen as valid spawn points for Growthcraft.

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1294692-enhanced-biomes-2-5-nearly-100-new-biomes-20-10-14

[2015-09-19 13:00] Sunconure11 opened #85 "Still Model Progress"
I will start progress on the still model. I will post all images of it here. Since I am not used to texturing metal objects, I might see if someone else wants to texture it when it is finished.

I also need a few good references to base it off of, since some of the images I'm finding suck. If you want to, post some possible references for the still model in this issue.

[2015-09-19 15:36] Ar97x commented on #85
I would love to see a small version, but a multiblock version of it too, like those big distilleries, but what I wish is far more difficult, since it would need a lot more programming and texture work. There's a nice pic of the small version
![copper_distillation_equipment_whisky_distillery_brandy_distiller jpg_220x220](https://cloud.githubusercontent.com/assets/10781341/9976927/b1b96806-5ec2-11e5

[2015-09-20 02:47] Sunconure11 commented on #85
Do you have a bigger version of that image?

[2015-09-20 04:26] Ar97x commented on #85
I'm afraid not. Use it just as a base, the resolution is not quite good.

[2015-09-20 04:27] Ar97x commented on #84
This is cool. We should try to do it.

[2015-09-20 15:09] Sunconure11 commented on #85
Alright, I'll see what I can do. However, to keep with the style, it would likely have to be cubical, spheres are not possible in Techne, and it would not mesh well with the other machines.

[2015-09-20 15:35] Ar97x commented on #85
If you're taking that image as a base, try to make it as two cylinders, one tall and thick on the top, with an output to a small condenser. Don't need to make it that complex. If you want one more simple, try this one
![d200](https://cloud.githubusercontent.com/assets/10781341/9981459/9596f57a-5f8b-11e5-9847-d8dc0521f090.jpg)

[2015-09-20 19:55] Sunconure11 commented on #85
I think I can make that. However, I managed to screw up my sleep schedule for the 248928509238590235th time, but, I can definitely get done.

[2015-09-21 10:38] Sunconure11 commented on #85
Also, after I finish the Still, would anyone be interested in me making an Electric Eel? There are some concepts for a marine module floating around here. Plus I have not really modeled fish before, mainly just mammals and archosaurs (the clade of animals that includes dinosaurs, birds, crocodiles, pterosaurs, and an assortment of other reptiles)

[2015-09-22 10:23] #82 closed

[2015-09-22 10:25] zHawky commented on #82
Shears are do the same as sickle, so this is unnecessary issue, derp.

[2015-09-23 15:08] Sunconure11 commented on #1
Added the brewing keg suggestion.

[2015-09-26 12:52] Sunconure11 commented on #85
I will begin some progress on the base of the still today. I still need to fix up a modpack an incompetent dev decided to screw up on me.

[2015-09-27 01:20] Sunconure11 commented on #85
I'll take a small break before starting it fully, I'm always tired lately. Plus Lfja-ag decided to revive their totemic branch so I need to finish the texture for the bison.

[2015-09-27 06:24] bookerthegeek opened #86 "Mod-pack request"
Since all that you ask is for I to post a request here at the GitHub to receive permission for the inclusion in my modpack, so here is my request.

As also requested, [HERE](https://github.com/MyM-ModpackTeam/B2B/blob/master/Credits.rst) is my mod index along with permissions so you may gauge future compatibility with other mod's.

I look forward to your replies.

[2015-09-27 22:41] Alatyami commented on #86
Have fun and enjoy our mod!

By default you have permission to use the growthcraft community edition in your mod pack.

[2015-09-27 22:41] #86 closed

[2015-09-28 04:24] bookerthegeek commented on #86
Thank you good gentleman and ladies! I shall work hard to produce a pack worthy of the inclusion of your mod.

[2015-09-28 22:25] IceDragon200 commented on #81
O: How did I miss this?

Sure, I'm all up for it :3

[2015-09-28 22:27] Alatyami commented on #81
It was a test :D

[2015-09-28 22:27] #81 closed

[2015-09-28 22:29] Alatyami commented on #83
Thank you for letting us know your mod-list. If you have any issues, you know where to find us. Inclusion of Growthcraft CE in your modpack is automatically approved.

[2015-09-28 22:29] #83 closed

[2015-09-28 22:54] Alatyami commented on #34
Can you review https://github.com/alatyami/Growthcraft-1.7/wiki/Contributing-to-Growthcraft I added a review process section.

I think we are going to drop the modular jar and just stick with the single jar distro. I'm not seeing much positive feedback on the forums for splitting them out again.

[2015-09-28 23:05] Ar97x commented on #34
I like the idea, mostly because I can add bamboo to new structures, or
renew them and add a little more detail. Will we keep it all at one?

[2015-09-28 23:11] IceDragon200 commented on #34
Single jars make it easier to update, but then you'll drag in modules you probably didn't want, we could keep both, making the modular jars lower priority

[2015-09-28 23:12] Alatyami commented on #34
Gwafu used some kind of voodoo magic with exclusions that even he said had a hard time to make work. If we are going to split them out then we will need to do it right and split the project up.

[2015-09-28 23:14] IceDragon200 commented on #34
I had a ruby script which did that voodoo ;O

_points at tools/package.rb_

[2015-09-28 23:19] IceDragon200 opened #87 "Contributing discussion"
We can discuss this: https://github.com/alatyami/Growthcraft-1.7/wiki/Contributing-to-Growthcraft here instead of sidelining it in the #34

[2015-09-28 23:22] Alatyami commented on #34
Doh ... need a new set of glasses. Thanks for the reference! I'm closing out this issue because this issue wanted a review process. We one and #87 is to review that establish that process.

[2015-09-28 23:22] #34 closed

[2015-09-28 23:27] IceDragon200 commented on #87
`Setup forge`
You can pull the git repo or download the latest zip and do `./gradlew` (*nix) or `gradlew.bat` (windows), no need to grab forge, gradle does all that.

As for the PR process:

[code]

@alatyami Or something along those lines, WDYT?

[2015-09-28 23:28] IceDragon200 commented on #84
@MidnightsFX  Valid spawn points? Is that for village structures or am I missing something?
If you can provide another open source mod that works as intended that would help us bigtime for reference

[2015-09-28 23:30] IceDragon200 commented on #80
Config in general needs an overhaul, we just throw everything unto the mod classes currently as static variables

[2015-09-28 23:33] Alatyami commented on #87
Ah, good feedback ... I really like the WIP flag.

[2015-09-29 01:35] MidnightsFX commented on #84
@IceDragon200 I'm actually talking about spawning the flora and shrubberies. I am drawing a blank on open source mods which I could point to for examples.

But, what I mean is this- when growthcraft or another mod which spawns flowers, trees or other shrubs goes to place one in the world it seeks a valid dirt block to place its greenery on. Since this mod uses various different dirt blocks, any bi

[2015-09-29 02:20] IceDragon200 commented on #84
@MidnightsFX
Trees aren't destroyed by changing dirt blocks; flowers, torches, doors, redstone (pretty much anything that relies on the presence of a specific block below) are broken and left as items, but I see your problem.

In short, because our structures generate specifically on minecraft dirt/grass blocks they won't generate  on these new dirt blocks.

There's nothing much we can do about th

[2015-09-29 02:23] MidnightsFX commented on #84
Will do! He is decently responsive so I'll see if he has anything about a possible api or an OreDic for the dirt.

[2015-09-29 23:43] MidnightsFX commented on #84
So this is what the author of EB said. I'm not a Java dev so unfortunately I don't know if this is exactly what your looking for- but it looks like its a step in the right direction.

Hopefully that is helpful. I dont know too much about minecraft modding - or java dev at all actually.
But, here are the classes he is talking about from what I can see.
[EnumPlantType](https://github.com/MinecraftFo

[2015-09-30 15:49] IceDragon200 opened #88 "A need to refactor the CellarRegistry"
There is some voodoo going on in there, if you manage to turn on the linting features during compilation, your console will be assaulted by warnings.

Ranging from untyped Maps to mixed declarations (variables between method definitions)

This isn't all that urgent, but when we do get around to it (or when I get around it), it's gonna get a complete overhaul and face lift, splitting up the respons

[2015-09-30 17:32] IceDragon200 commented on #84
@MidnightsFX Ok, I got something, its probably a mess, but can you give it a test? look at #89 for a test build

[2015-09-30 19:52] MidnightsFX commented on #84
I will definitely take a look at it! I should be able to give you some useful results tomorrow.

[2015-10-01 01:18] MidnightsFX commented on #84
@IceDragon200
Ok it looks like something is off about Build #89. Its failing to init, here's the trace.

http://pastebin.com/2Kqq3SUb

Its failing to find 'dye' from the cellar module.

[2015-10-01 02:43] IceDragon200 commented on #84
@MidnightsFX
Ah, I built it using the wrong workspace, -.-; its painful having to trash workspaces everytime I change branches, I've added 2 more builds, use `build2`, that should work (I hope)

[2015-10-01 03:14] MidnightsFX commented on #84
@IceDragon200 Excellent, could you give me a link to build 2? I see build 1 in #89 but no build two.

(build 1 also crashed with the same trace)

[2015-10-01 14:53] IceDragon200 commented on #84
@MidnightsFX [build 2](https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.2.2/growthcraft-1.7.10-2.2.2-complete_iplantable-build2.jar)

My internet derped on me yesterday when I updated the links, I guess it failed :(

For future reference, you can grab any of the links
`https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.2.2/growthcraft-1.7.10-2.2.2-co

[2015-10-01 23:53] Sunconure11 commented on #84
Biomes O Plenty also has its own soil variants. If those are not supported, you might want to support that as well.

[2015-10-02 01:23] IceDragon200 commented on #84
@Sunconure11  It should work, assuming it works the same way Enhanced Biomes does it

[2015-10-02 03:03] MidnightsFX commented on #84
@IceDragon200  Ok so- Here's how it looks (Build 2).

Working, Growing, Planting, spawning- etc.
- Hops
- Grapes
- Apple Trees
- Beehives
- Village Generation / Planting

What doesn't work as expected:
- Rice Fields - Can't make one by re-hoeing farmland (dirt or mod-dirts)
- Bamboo - As soon as it grows/spawns it breaks (bamboo shoots plant correctly on all the new dirt, but break on growth).

I

[2015-10-02 03:38] IceDragon200 commented on #84
@MidnightsFX
**Rice Fields**
You don't plant them on regular farmland, you plant them in a paddy filled with water, you first `hoe` the dirt and then right click using a `shovel` to make a paddy, if it's not filled with water, you can fill it with a bucket of water.

Since they don't work on regular farmland, I can say proudly that they are working correctly, the only issue is that paddies require

[2015-10-02 05:12] MidnightsFX commented on #84
@IceDragon200  Excellent, and thanks for that tip- apparently its been a while for me!

Also, went through the build - and it looks good! I will test on Biome's O Plenty in just a second but I expect it to be working as intended. Thanks for your work on this!

It looks like Biome's O Plenty works fine also, as expected (Biomes O Plenty is still an unstable mod).

[2015-10-02 15:35] IceDragon200 opened #90 "Adding a Warf structure"
Originally discussed in #79, the idea of adding a randomly placed warf structure, near beaches and other large bodies of water.

Discussion is open, It won't be added to the referenced PR, but will be done later once the idea cements

CC @Ar97x, @Sunconure11, @alatyami

[2015-10-02 16:07] Alatyami commented on #52
Pushing to 2.2.4, just didnt have enough time to complete. The Ale Fluid is done but still need to make it bucketable.

[2015-10-02 16:13] Ar97x commented on #56
One guy reported this on the forum. Will it be on the next release. And
when will it be released?

[2015-10-02 16:15] alatyami opened #91 "Release Version 2.3.0"
**Milestone Management**
- [x] Shift Issues the next Milestone if needed.

**Create Release Notes Wiki Page**
- [X] [Growthcraft CE 2.2.3 Release Notes](https://github.com/alatyami/Growthcraft-1.7/wiki/Growthcraft-CE-2.2.3-Release-Notes)

[2015-10-02 16:18] Ar97x commented on #90
Ok, can you do it spawn on random beaches? If you can, I'll work on the
model tomorrow, so we can have it for the next update. Do you think we can
fit it in @alatyami?

[2015-10-02 16:19] Ar97x commented on #91
What will be our major updates for this version?

[2015-10-02 16:35] Alatyami commented on #91
Working on it ... this ticket will be our first "organized" release. We need to go through all issues labeled with the Milestone 2.2.3 and determine which ones need to be closed and which ones need to be pushed to 2.2.4. I have already pushed the Fluid rewrite to 2.2.4.

[2015-10-02 16:38] Ar97x commented on #91
When do you plan to release it?

[2015-10-02 16:42] Alatyami commented on #91
Wanted to do it yesterday ... should be this weekend.

On Fri, Oct 2, 2015 at 12:38 PM, Ar97x notifications@github.com wrote:

[2015-10-02 16:43] IceDragon200 commented on #90
@Ar97x Possibly, but don't expect any villagers in it, I still haven't figured out structure spawning fully yet ;(

[2015-10-02 16:53] Ar97x commented on #90
I think it won't be needed. Just making it spawn randomly is nice.

[2015-10-02 18:53] IceDragon200 commented on #84
@MidnightsFX Closing this issue since the changes have been merged

[2015-10-02 18:53] #84 closed

[2015-10-02 18:54] IceDragon200 commented on #3
@alatyami @Sunconure11 Can't we close this, pipes work from all the mods mentioned

[2015-10-02 22:32] Ar97x commented on #90
I don't know if it's open source, but Millenaire has random generated
buildings even with villagers (Millenaires), you could check the coding if
you find it useful.

[2015-10-04 05:09] PitchBright opened #93 "Strange crash on breaking Vines"
I wonder if it's related to the Drop Rarity on Grapes.

http://pastebin.com/mWfSNfL8

[2015-10-04 05:16] IceDragon200 commented on #93
@PitchBright I'll take a look right now, can I get a bit more info though, does it happen randomly when breaking them, or does it ALWAYS crash when breaking vines?

[2015-10-04 05:28] PitchBright commented on #93
It's random. Not every vine break causes it. Sometimes the server will full-on crash. Other times, the client just gets kicked from the server back to the menu.

This is all I was able to grab from the client console last time I was kicked as client: http://pastebin.com/pemi5Ghv

[2015-10-04 05:30] IceDragon200 commented on #93
@PitchBright What are your `rarity` settings, so I can test locally, (or just throw all your growthcraft configs at me)

[2015-10-04 05:33] spannerman79 commented on #93
I had a quick look at the pastebin - it could be a Forge Essentials Protection issue..

I know from previous experience (before i moved to kcauldron) the protection system within Forge Essentials wasn't 100% effective and did cause issues.

[2015-10-04 05:40] PitchBright commented on #93
@IceDragon200 I had the rarity set to 0 on the server. I then tried it at 1, and it still crashed.

@spannerman79 I wondered the same thing at first. I can bounce the crashlog off those guys over there if IceDragon thinks it's a good idea'r.

[2015-10-04 05:41] IceDragon200 commented on #93
@PitchBright Bounce it off them, I'll try my hardest to crash it here, so we'll see whose successful first (or fails first? I have no idea)

[2015-10-04 05:43] spannerman79 commented on #93
@PitchBright when you were kicked were you in a Forge Essentials protected area when you tried to break a vine?  Do you have MyTown2 also on the server?  This is where it becomes complicated as both use ASM

[2015-10-04 05:49] PitchBright commented on #93
@spannerman I'm not using protected areas. I also just looked at the perm debug, and permission is granted to break vines. No MyTown2 present.

[2015-10-04 05:49] IceDragon200 commented on #93
@PitchBright, @spannerman79: Fear not, for I have crashed the game with the same error

[2015-10-04 05:51] PitchBright commented on #93
@IceDragon200 Okay cool. I hadn't hit those guys up yet. I won't, unless you tell me to.

[2015-10-04 05:51] IceDragon200 commented on #93
Rarity must not be 0, well that was an easy lookup...

[code]

[2015-10-04 05:52] PitchBright commented on #93
I've got it set to 1. We're definitely gettin' the Client Kick. I'll see if I can get it to crash the server too.

[2015-10-04 05:53] IceDragon200 commented on #93
I'll add a LESS OBSCURE ~~error~~ warning in growthcraft to prevent this from happening again.

Check your console for an angry rant `"RARITY WAS SET TO 0, THE WORLD IS CRUMBLING, WHAT HAVE YOU DONE ~ IceDragon"`

[2015-10-04 05:54] spannerman79 commented on #93
LOL @ angry rant.  Wished more mod devs would do that.  Easier to point out to people next time when they submit crash logs

[2015-10-04 06:03] PitchBright commented on #93
Okay… this is all I get from the server console now when a client gets kicked. http://pastebin.com/1QUKdw94

Not sure if that's helpful at all, or not.

[2015-10-04 06:07] PitchBright commented on #93
Sorry for the extra post here. So the server just went down  http://pastebin.com/FarwnCYF  I actually wasn't breaking any vines at the time, I had just hopped back on after my last post, jumped in a minecart near where I was breaking vines prior… and then the server went down. It's entirely possible that it was a delayed vine break from before, though.

[2015-10-04 06:13] IceDragon200 commented on #93
@PitchBright
https://github.com/alatyami/Growthcraft-1.7/pull/95
I have a test build inside, give it a twirl and see if it solves anything

ALSO:
I think this will do for now, prevents you from shooting yourself in the foot, and it amuses me:

[code]

ALSO.2:
I'm hitting the hay, I'll be of no use to anyone in my current state

[2015-10-04 06:19] PitchBright commented on #93
@IceDragon200 Okay cool. Do I need to make sure all my other GC Crop drops are set to at least 1 as well?

Also, I am still suspicious of ForgeEssentials at least for the Client Kicking, because we weren't experiencing the issue before I updated FE today. Mind you, I'm not sure if anybody was breaking vines before that FE update… it wasn't until tonight that we needed to do a lot of work in a Swam

[2015-10-04 13:59] IceDragon200 commented on #93
@PitchBright Yeah, that would be best, set all the weight/rarity values to 1

[2015-10-04 14:49] Sunconure11 commented on #3
Sure

[2015-10-04 14:49] #3 closed

[2015-10-04 16:28] IceDragon200 opened #96 "WAILA Integration?"
Open for discussion, and does anyone know if we have external mods doing this?

I've messed with WAILA a bit with my own mod and thought "why not add this to growthcraft as well"

[2015-10-04 17:34] Ar97x commented on #96
I can test it, would be nice to see the maturity of the crops and the
liquids in the barrels, at least.

[2015-10-04 22:31] IceDragon200 commented on #96
@Ar97x Here are some screenshots of what I've done so far
https://www.dropbox.com/sh/76chacjbpfl6av9/AAArEq3cWAHI5M8KIBbFUA2Va?dl=0

I'm still working out the architecture (its not just pushing strings into a list, but wait, it is D:)

[2015-10-05 00:23] IceDragon200 commented on #1
Desert module idea: I just realized, we don't have cactus juice!
![Cactus Juice](http://i.imgur.com/GWOoa.gif)

Silly Avatar references aside, yes we could have cactus juice, this also gives me a reason to mess with the fruit press API, to allow different byproducts, currently EVERYTHING PRODUCES BONEMEAL (I can't even...), would be nice to get other byproducts from pressing...

In short, putting

[2015-10-05 01:27] Sunconure11 commented on #1
I'll see to it within the next few days. This list is long though.

[2015-10-05 02:06] PitchBright commented on #93
I just popped the update onto my server, and it crashes on boot.

http://pastebin.com/dmxNEFj4

[2015-10-05 02:33] IceDragon200 commented on #93
@PitchBright Oh gawd not again, gimme a sec need to play around with gradle.

Okay, check the PR again I added a new build (Build 1)

[2015-10-05 02:41] PitchBright commented on #93
Thanks! Server started up fine. I'll run with that for awhile and report any future errors to ya here, or if you've closed it, I'll hit you up on on the GC IRC.

[2015-10-05 02:47] spannerman79 commented on #59
Perhaps my suggestion for Gitter was wrong.  There is [discord](https://discordapp.com/)

[2015-10-05 03:01] spannerman79 commented on #73
For pathfinding I use the mod Special AI.  Helps/fixes Mojangs fubar AI/pathfinding

[2015-10-05 04:13] IceDragon200 commented on #52
@alatyami I've started a different branch for tackling this, the main difference is the use of a general  base classes for all the booze and BREAKING the current bucket item, I've left it in for now, but it should be removed in later versions (its hard to miss that ugly DEPRECATED)

https://github.com/alatyami/Growthcraft-1.7/tree/fluid-blocks

[2015-10-05 19:07] labpaw commented on #96
@IceDragon200 can you add %s tag to this [string](https://github.com/alatyami/Growthcraft-1.7/blob/waila-handlers/src/resources/assets/grccore/lang/en_US.lang#L18), please? So, I can swap fluid name with amount of fluid. Also, change localization in en_US.lang to "mB of" instead of just "mB". Overall, looks good :+1:

[2015-10-05 20:39] IceDragon200 commented on #96
@Adaptivity So I should change it to `mB of %s`?
Too bad to we don't have named parameters, so I could do things like this
`%<unit>s of %<fluid>s`

[2015-10-05 21:15] IceDragon200 opened #97 "Inconsitent behaviour when right clicking hops or grapes"
Right clicking a hop bush will pop the hops right off as an item, right clicking grapes? does nothing.
And apples are probably the same...

[2015-10-06 12:47] Alatyami commented on #52
Yah, my plan was build out the fluids in parrallel and then rewrite the FluidTanks to be rightclick-able to draw the ale/wine out. Next would be to add a tap to the barrels.

[2015-10-06 19:06] Adaptivity opened #100 "List of blocks to hide from NEI"
Once #98 is merged this will be really easy to fix.
List:
1) Rope (ropeBlock) Don't confuse with Rope item.
2) Apple (appleBlock)
3) Bamboo Door (bambooDoor) Again. It's block and not an item. Should be removed from NEI.
4) Deprecated buckets
5) Paddy Rice (riceBlock)
6) Fruit Press (fruitPresser) Don't confuse with real Fruit Press.
7) chievItemDummy
8) Grape Trunk (grapeVine0)
9) Grape Trunk (gr

[2015-10-06 19:19] labpaw commented on #97
I think grapes and apples should follow hops behaviour.

[2015-10-06 19:43] Ar97x commented on #97
This is a good idea, we could implement it even in 2.2.3, if you can make
it until @alatyami releases.

[2015-10-06 20:03] Ar97x commented on #1
Just to add, a guy from the forum is keeping a Wikia page of the mod, any thoughts of what should we do?

[2015-10-06 20:39] Sunconure11 commented on #1
I don't know yet. Possibly redirect him to fill out the wiki here?

[2015-10-07 14:20] Alatyami commented on #97
Think we can resolve this one this week?

[2015-10-07 15:03] labpaw commented on #50
@IceDragon200 maybe you can do this for 2.2.3? Should be simple enough.

[2015-10-07 19:03] Adaptivity opened #102 "Restore Flowers module"
Was requested [here](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/2505072-growthcraft-community-edition-proper-1-7-10?comment=89). Sounds like interesting request. Latest available module version is for Minecraft 1.5.2 located [here](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1286298-growthcraft-jul-15-2014-proper-1-7-10-release) und

[2015-10-07 19:05] labpaw commented on #48
@IceDragon200 once your PRs merged, can you do what @Nirek-K suggested here? This would be cool.

[2015-10-07 19:38] Ar97x commented on #102
Somebody have already replied this guy, that bees offer almost the same
functionality of the flowers module. We could try to remake it, but as a
garden module, would be way more insteresting.

[2015-10-07 20:53] IceDragon200 commented on #93
Closing, if the issue arises again, we'll reopen

[2015-10-07 20:53] #93 closed

[2015-10-07 20:54] IceDragon200 commented on #96
Merged, so :door:

[2015-10-07 20:54] #96 closed

[2015-10-07 20:55] #88 closed

[2015-10-07 20:56] IceDragon200 commented on #78
@stardustrider  We fixed this a few prs back, so I'll be closing this, if the problem still exists, please do not hesitate to report it

[2015-10-07 20:56] #78 closed

[2015-10-07 20:58] IceDragon200 commented on #61
If someone is willing to take up the task for this, you could make a companion mod which takes a json/config file and injects the recipes into the CellarRegistry, no point in shoving this into the main growthcraft code base, its hectic as is :P (have you seen localization and integration code D8)

[2015-10-07 20:58] IceDragon200 commented on #22
@alatyami can you close this now, don't we have builds/releases now?

[2015-10-07 21:11] PitchBright commented on #93
We had a vine-breaking test-session, and by all reports, there were no crashes, either client or serverside.

[2015-10-07 21:37] IceDragon200 commented on #93
![Hell Yeah](http://thetrendguys.com/wp-content/uploads/2013/11/Hell-Yeah-Baby.jpg)

[2015-10-08 04:59] #50 closed

[2015-10-08 05:00] Sunconure11 commented on #102
The reason I thought flowers might be redundant due to the amount of changes 1.7 brought to flowers. However, I suppose a garden module can be done.

[2015-10-08 07:17] #100 closed

[2015-10-08 07:18] #52 closed

[2015-10-08 15:32] Alatyami commented on #22
Closing ... if there is demand to split the jars out then we will revisit it, so far there is very little demand for it and honestly I like only needing to update one jar on my SMP servers.

[2015-10-08 15:32] #22 closed

[2015-10-08 17:07] #97 closed

[2015-10-08 21:30] Alatyami commented on #91
All pull requests have been settled. Starting the release process on Friday morning unless someone posts to this ticket.

[2015-10-09 22:46] IceDragon200 opened #103 "Pipes, do you want?"
See #106 for details

[2015-10-09 23:21] Ar97x commented on #103
Cool, I think it is really welcome, we don't need to be dependent to other
mods this way. Do you think about another functions for pipes? And will the
machines work with other tools, like TE and Ender IO ones?
Em 09/10/2015 18:46, "Corey Powell" notifications@github.com escreveu:

[2015-10-09 23:22] Sunconure11 commented on #103
Would it be possible to add an option to turn off pipes? That would be good for modpack devs.

[2015-10-09 23:24] IceDragon200 commented on #103
@Ar97x Currently I only check for IToolWrench (the buildcraft wrench interface) items, so if they use that interface then it will work, otherwise KABOOM, nothing :P

@Sunconure11 The entire module, or pipe pipes (as in their flow?), I working on adding redstone handling to the vacuum pipe, I had plans for a valve pipe, but completely forgot about it, thanks for the reminder :O

[2015-10-09 23:24] spannerman79 commented on #103
To keep the independence may I suggest that yes if Build Craft (or any mod that has a wrench) is detected a user can use a wrench but by default all that is needed is a stick to serve the function of a wrench

[2015-10-09 23:26] Sunconure11 commented on #103
Well, if its a module, then allow an option to turn them off until we are able to split them into modules again.

[2015-10-09 23:45] IceDragon200 commented on #103
@Sunconure11 Sure thing, I'll add a config option

@spannerman79 A stick, can it be an amazing stick?

[2015-10-09 23:53] spannerman79 commented on #103
lol @ Amazing Stick. Yeah that can work. I was only thinking of a stick to;

1) Keep item ID's down and use vanilla items. Highly unlikely that a stick would change minecraft wise

2) Most other mods I've come across will auto fallback to a vanilla item when item X from mod/s Y cannot be found

If all your doing is adding lore NBT data on use of stick then ignore this entire comment :P

[2015-10-10 01:59] IceDragon200 commented on #103
@Sunconure11 https://github.com/alatyami/Growthcraft-1.7/commit/a334ca35e8f05205cba4904bfd625ed6bb7d7601 Config option

@spannerman79 https://github.com/alatyami/Growthcraft-1.7/commit/67e35283c9d52d3f8e112b3e7e708b6e4671435b The Amazing Stick, nuff said

Thus begins the pinnacle of awesome

[2015-10-10 19:25] IceDragon200 commented on #48
@Adaptivity @Nirek-K So, I started restoring Thaumcraft, there are quite a few changes to the api, also Aspect.SEED is no longer available, I'm working on a rather messy branch at the moment, also do you know if there is a thaumcraft gradle dependency?

[2015-10-10 20:40] spannerman79 commented on #48
Not sure about grade but the Thaumcraft API is on github https://github.com/Azanor/thaumcraft-api

[2015-10-10 20:47] IceDragon200 commented on #48
@spannerman79 Yeah, I resorted to copying the api into the growthcraft code base, which is why I asked about a gradle dep :(

[2015-10-10 20:51] spannerman79 commented on #48
I have no idea how gradle works or even if this will work for you but I came across this https://github.com/bat-cha/gradle-plugin-git-dependencies

Warning: I don't know java or how gradle works. Take this comment as a grain of salt

[2015-10-10 23:51] IceDragon200 commented on #48
@spannerman79 @Adaptivity @Nirek-K https://github.com/alatyami/Growthcraft-1.7/pull/105
Could someone, anyone please test this

I'm a Thaumcraft noob...

[2015-10-11 21:12] Alatyami commented on #91
Ugh, got delayed. Going to cut 2.3.0 now and then if we want to add the latest PR's we can cut another one.

[2015-10-11 22:28] Alatyami commented on #91
Incremented the version number in development and tested the jar to make sure this time that the version showed up everywhere.

[2015-10-11 22:29] Alatyami commented on #91
The next release will all of the release process notes and messages in the PR. No need to clutter it up with another Issue.

[2015-10-11 22:29] #91 closed

[2015-10-12 04:03] IceDragon200 opened #108 "Add Yeast"
[Forum Yeast Post](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/2505072-growthcraft-community-edition-proper-1-7-10?comment=93)

Took time out to check the forum threads, and saw this comment

I know nothing about yeast and how its made, or what sorcery is needed to produce it, but if you guys can explain it to me, I can make it happen

## Checklist
* [x] Add Ye

[2015-10-12 04:48] IceDragon200 commented on #16
@Sunconure11 How about a checklist of mods to support?

[2015-10-12 06:53] Sunconure11 commented on #108
Yeast is a naturally occurring fungus, and can be found pretty much everywhere.

https://en.m.wikipedia.org/wiki/Yeast

[2015-10-12 06:55] Sunconure11 commented on #108
https://en.m.wikipedia.org/wiki/Saccharomyces_cerevisiae#Brewing

[2015-10-12 06:55] Sunconure11 commented on #108
https://en.m.wikipedia.org/wiki/Yeast_in_winemaking

[2015-10-12 06:56] Sunconure11 commented on #108
https://en.m.wikipedia.org/wiki/Bottom_and_top_fermenting_yeast#Fermentation_methods

[2015-10-12 07:10] IceDragon200 commented on #108
@Sunconure11 Ah, thanks, I'll read later today (for now, I must rest)

[2015-10-12 07:53] spannerman79 commented on #108
I _think_ another mod uses Yeast. Don't quote me on this but I think its Pams HarvestCraft or another mod like that which adds a cr@p load of food stuffs and one of them is yeast. I am unsure if its ordDict'ed or not but its something to consider.

Also there was a 1.6.4 mod that used yeast - [Kitchens](http://minecraft.gamepedia.com/Mods/Kitchens) with the following process

[2015-10-12 14:53] Alatyami opened #109 "Established a standardized test case for Single Player and SMP releases"
Title says it all ... all of our testing has been with single player. I'd like to have a wiki page with a standard list is test items that one of us can run through for single and multiplayer releases.

[2015-10-12 15:00] Alatyami opened #111 "Right-Click Apple Block that is green makes it disappear"
Version: 2.3.0

Quote from vincentvan >>
There is a bug with apple block. When right click on it disappears (if it isn't red). And i can use bone meal on it.

[2015-10-12 18:31] Ar97x commented on #108
This is getting interesting. Would be a great addition.

[2015-10-12 18:40] IceDragon200 commented on #111
I'll add this to ~~#110~~ scratch that, the fix has been pushed to development, lets find a few more bugs to fix for a later release

I fixed the right clicking breaking non-red apples, however to you must sneak and right click to use bonemeal

[2015-10-12 19:02] IceDragon200 commented on #111
Should be resolved by https://github.com/Alatyami/Growthcraft-1.7/commit/dbba33e9c062cc14fd31cee637f7f44f045d2a76

[2015-10-12 20:00] Alatyami opened #113 "Fix for Travis-CI Deployment for Multiple Files"
https://gist.github.com/IceDragon200/cd4d52066dea302d83b9

[2015-10-12 20:10] IceDragon200 commented on #113
@Alatyami I've added it to my core-dev branch, as well as jar splitting

[2015-10-12 20:16] #111 closed

[2015-10-12 20:24] Alatyami commented on #113
Nice.

[2015-10-12 20:29] IceDragon200 commented on #113
@Alatyami https://travis-ci.org/Alatyami/Growthcraft-1.7/builds/84995073 I WIN :dancer:

[2015-10-12 20:30] #113 closed

[2015-10-12 20:32] Alatyami commented on #1
His wiki will allow us to fill it out like the FTB wiki, which since only the old 1.5 version is included in a FTB Modpack I'm thinking we could go with the one he has, just have to make sure that it is for long term.

[2015-10-12 21:48] Alatyami commented on #113
Nice!

On Oct 12, 2015 4:29 PM, "Corey Powell" notifications@github.com wrote:

[2015-10-14 12:26] spannerman79 commented on #1
@Ar97x what is the link to this third party wiki?  As some may or may not know a wiki can be created here in this project.

Many mod dev's use their own domain and hosting or use the location they store their code (github, gitlab etc) for wiki and so forth

[2015-10-14 14:40] Ar97x commented on #1
We already have a wiki here on github, check alatyami's fork. The link for
the new wiki: http://growthcraft.wikia.com/wiki/Growthcraft_Wiki

[2015-10-15 07:26] ghost commented on #108
yeast is commonly made out of grapes peels. believe it or not. so if you add yeast simply add grapes -> yeast recipe. but then again this is a game not real life.

the recipe above is too complicated
i'd simply do something like grape + water bucket => yeast + empty bucket

yeast is used to make beer or brew wine or make bread. you could replace nether wart with yeast. this will allow you to get e

[2015-10-15 07:43] spannerman79 commented on #108
Yeast is a microorganism that also be obtained via potato peelings too. Among other sources as well.

[2015-10-15 08:08] ghost commented on #66
can this feature be optional? i don't like plants in the nether and i don't like lava or obsidian boats. silly.

but if i had to pick some things here is my only 1 choice

ghost vines = kinda like a semi transparent ghostly grass that grows 1-4 blocks high and can grow anywhere even inside blocks. you plant it then place blocks on top of it . these blocks will eventually become possessed by these

[2015-10-15 08:23] ghost commented on #102
flowers can easily be grown using bonemeal. is kinda nub but works really fast. also there are plenty of mods like botania that add 1 million flowers that you do just that grow flowers forever. ha

[2015-10-15 08:24] trollworkout opened #116 "request: plz make bamboo fence mate with vanilla fences"
just that. seems bamboo  fence cannot be used together with vanilla one a gap is formed between. is kinda like nether fence and vanilla fence issue .

[2015-10-15 08:31] trollworkout opened #117 "request: please add more life to bees"
bees are just an icon in a box. pretty much. see mosquito swarm from twilight forest. bees could be a block of swarming little particles that move from flower to flower or attack if you are too close to the hive. if you "kill" the bee swarm a bee icon drops then that's pretty much normal . also the bees might leave the bee box to go to flowers then come back. so once in a while you will see a swar

[2015-10-15 08:33] ghost commented on #117
optionally when attacking or grabbing a bee hive a bunch of bees will attack you. you can fight off the bees or run away then at home you can convert the bee hive into a bee box by incorporating the hive into the recipe. when you look inside the bee box you will see a greyed out bee icon . the bee box can be moved or stored but the bees will always be inside the box and  "haunt" the area where the

[2015-10-15 08:36] ghost commented on #21
there is also erebus honey and bamboo and also biomes of plenty bamboo (i don't use this one but i do use the other one).

[2015-10-15 15:13] IceDragon200 commented on #102
@trollworkout On that note we should add support for botania flowers in the bees module

[2015-10-15 15:14] IceDragon200 commented on #116
Its on the todo, related #73

[2015-10-15 15:25] IceDragon200 commented on #21
@trollworkout If you can collect all the Ore Dictionary names for these items I'll register our items under those names as well (or is it the other way, you wish to use BOP's bamboo for our items?)

[2015-10-15 15:27] IceDragon200 commented on #66
@trollworkout The Nether module is standalone, planned for the 2.4.x release, all modules will be available as seperate jars, or you can grab the complete jar, your choice, as for you suggestions, I'll let the others comment on that

[2015-10-15 18:37] IceDragon200 commented on #66
If you've been watching the commit feed, I've been working on the nether module you can see the [screenshots](https://www.dropbox.com/sh/3qccjuwo295uep1/AACEt-VU2uDzXeQSZo2S_tCva?dl=0) and watch the [grcnether branch](https://github.com/Alatyami/Growthcraft-1.7/tree/grcnether) for changes

@Ar97x @Sunconure11 @EnderCreeper15 @trollworkout

[2015-10-15 18:43] Ar97x commented on #66
Amazing work as always @IceDragon200, I think the textures will be on
@Sunconure11 right? And the lava paddy looks awesome, just need to change
the name on Waila :D

[2015-10-15 18:46] IceDragon200 commented on #108
So from what I've collected the following are possible methods (in their simplest form)
- Wheat + Water + Sugar > Yeast
- Potato + Water + Sugar > Yeast
- (Fruit) + Water > Yeast

Right?

[2015-10-15 19:05] Ar97x commented on #108
We could have the yeast produced on the brew kettle, as the second output
of Ale, No hops and sugar on the second input. And we could work on some
new drinks to make easier to produce yeast.

[2015-10-15 19:09] ghost commented on #21
growthcraft has best bamboo itemsalso i will loook into it as i got first 2

[2015-10-15 19:36] IceDragon200 commented on #108
Looks like its time to rewrite parts of the cellar registry to include register residue items (its currently fixed to Bonemeal for.. EVERYTHING :D)

[2015-10-15 20:10] ghost commented on #108
i second the brew kettle . fruit + sugar + water let it brew output is yeast instead of bonemeal.  or probably any plant would work fine. even grass . with fruits/crops/vegetables you get higher chance of yeast maybe i don't know. maybe yeast should be a %chance rather than you always get some which is probably 100% for grapes/apples/potatoes and 50% for everything else . or not . maybe is a bad i

[2015-10-15 20:48] Alatyami commented on #108
In actual brewing you can reuse the left over yeast for another batch.

[2015-10-15 22:32] ghost commented on #108
so you could make it be fruits, vegetables or even yeast to make more yeast + sugar + water in brewing cauldron. if you use fruits you get 1 yeast but if you use yeast you get 3 yeast.

this yeast system might be cooler cause you kinda have to manufacture it yourself rather than use netherwarts. i always felt netherwarts are a bit odd choice

[2015-10-16 09:11] Sunconure11 commented on #108
What about some forms of wild yeast that can only be obtained by fermenting in certain biomes? https://en.wikipedia.org/wiki/Yeast_in_winemaking#Wild_yeasts_and_natural_fermentation

[2015-10-16 09:12] Sunconure11 commented on #108
Also, I forgot to make the still model because of stuff going on, but, I'll work on it when I have some free time. However, modelling blocks is not my specialty.

[2015-10-16 09:13] Sunconure11 commented on #66
I guess I'll create a few new textures.

[2015-10-16 09:14] Sunconure11 commented on #102
That was suggested by me in the past, but, I think it would be best to have a magic bee hive that can grow them.

[2015-10-16 09:18] Sunconure11 commented on #66
I'm working on the lotus at the moment. I'll create a separate block for the flower, and possibly a variant that has gone to seed.

[2015-10-16 09:29] Sunconure11 commented on #66
https://www.dropbox.com/s/pl8taonilk037qb/maralotus.png?dl=0

One new texture created. I should not be up this early.

[2015-10-16 09:36] Sunconure11 commented on #66
I'll probably create the textures for the new tree later today.

[2015-10-16 09:59] Sunconure11 commented on #66
Also, does anyone have the models of the vanilla mobs in a format that can be used in Techne?

[2015-10-16 10:10] Sunconure11 commented on #66
https://www.dropbox.com/s/igb4qg7u45ac7hp/malicesapling.png?dl=0

[2015-10-16 15:06] IceDragon200 commented on #66
@Sunconure11 https://github.com/Alatyami/Growthcraft-1.7/commit/a3deba884eb7e316c46b72e2f60ea7d3b2e2c674

[2015-10-18 01:45] Ar97x opened #119 "Icons for Wikia"
As previously said, there's this guy that is trying to make a GC Wikia page. He asked for some icons to help him to use the crafting gui, so I created this issue to ask the contributors what do you think we should do about it. Give him the icons, help him with the pages or redirect him to work on the wikis we already have, like FTB and this local one?
EDIT: Idk how this assign thing works, that's

[2015-10-18 02:05] IceDragon200 commented on #119
@Ar97x Assign is "this person is in charge of this issue", if you want to ping someone add an @ in front of their name.

As for the issue, if someone wants to do the renders for the blocks, then I see no problem in giving him the icons (its an open source project now :O)

[2015-10-18 04:47] Sunconure11 commented on #66
I'll work on the ghost model when my sleep is back on track. I don't feel I'm functional enough for that at the moment.

[2015-10-18 04:49] Sunconure11 commented on #66
I might create a few simple textures though

[2015-10-18 05:02] IceDragon200 commented on #66
@Sunconure11 Could you do these textures:
- Knife Bush
- Baal's Rot
- Malice \* (pretty much all the malice related stuff, my placeholder textures would make endermen steer clear of the blocks)
- Soul Squash (its just the pumpkin hue shifted and inverted currently)

Also, what are the official colors for the `Fire Brandy` and `Malice Cider` (I use a kind of washy red for the Fire Brandy and an exp

[2015-10-18 13:35] SuperSaltyGamer opened #120 "Modpack Permission"
Hi.

I'm letting you know that I will be using Growthcraft in Complexity (a new modpack coming to Technic Launcher).

Mod/permission list here :
https://docs.google.com/spreadsheets/d/1yExCzGrqqdEXioG_94wx7h4M9PxfQ6-ZV6C8Vmntb70/edit#gid=0

[2015-10-18 13:38] Sunconure11 commented on #66
Working on the Baal's Rot texture. Also, I think your ideas for colors are good, though I think Fire Brandy could use a scarlet color.

[2015-10-18 13:45] Sunconure11 commented on #66
https://www.dropbox.com/s/ajws5acg6zuks9d/baalrot.png?dl=0

[2015-10-18 13:49] Sunconure11 commented on #66
For the color of Fire Brandy, why not this?

https://en.wikipedia.org/wiki/Scarlet_(color)#Fire_brick

[2015-10-19 03:18] IceDragon200 commented on #66
@Sunconure11 I've changed the color now, also your recent textures have been missing the alpha channels

[2015-10-19 04:58] IceDragon200 commented on #48
@Sunconure11 @Alatyami @Adaptivity Both integrations have been done and merged into development, so I guess you can close this issue unless there is any other mods you'd like

[2015-10-19 05:02] labpaw commented on #48
This should be closed. There are another issue exist for other mod support.

[2015-10-19 05:02] #48 closed

[2015-10-19 05:46] trollworkout opened #121 "using empty bottle on growthcraft fluids gives water bottle also no way to craft liquid bucket to potions"
just that

maybe disable right clicking on it with empty bottle and make it so 3 bottles + growthcraft liquid bucket => 3 growthcraft brews + empty bucket

or if you right click with an empty bottle you get a brew but the liquid block is gone so people can't exploit it to get infinite brews.

[2015-10-19 06:02] IceDragon200 commented on #121
@trollworkout Could you try one of the older version (2.1.x) and see if it works (I may have broken something along the way)

[2015-10-19 06:21] ghost commented on #121
@IceDragon200  aight. ill do that. i'm playing my single player world now but ill try it in a lil bit. i have your latest build 5 ill keep testing it out. or was it 4? anyway. the custom build.

100% this last build gives water bottles

[2015-10-19 06:26] IceDragon200 commented on #121
Weird, ;O everything seems to checkout fine for me in development..

And then I tried **Fluid Blocks** and got a water bottle, ouch

[2015-10-19 06:52] ghost commented on #102
@IceDragon200  i can test out botania too if you need

[2015-10-19 06:58] IceDragon200 commented on #121
Actually there is nothing I can do about it... Forge doesn't provide a FillBottleEvent and minecraft defaults to filling the bottle with water.

All I can do is provide a crafting recipe, that or you pick the fluid up with a bucket and place it into any fluid tank and then use the bottle on it, fluid blocks are a no go since they have a water material

[2015-10-19 09:17] ghost commented on #121
hm. just make it 1 fluid bucket + 3 empty bottles -> 3 fluid brews + empty bucket :)

[2015-10-19 09:20] trollworkout commented on #121
check this out https://github.com/shift02/SextiarySector2/blob/master/src/main/java/shift/sextiarysector/item/ItemBottle.java

[2015-10-19 09:22] ghost commented on #121
@IceDragon200  see link below seems to be a hack into FillBottleEvent  using unnamed functions. some functions  in forge are there but simply unnamed.

this seems to return custom item when you fill up a bottle https://github.com/shift02/SextiarySector2/blob/master/src/main/java/shift/sextiarysector/item/ItemBottle.java

seems to be using type of hit event o register right click ?

[2015-10-19 14:42] Alatyami commented on #120
Thank you for letting us know. If you find any compatibility issues please let us know.

Inclusion of Growthcraft CE in your modpack is automatically approved.

[2015-10-19 14:42] #120 closed

[2015-10-19 16:48] IceDragon200 commented on #116
@trollworkout Well, can't fix this, fence blocks are hard coded on minecraft's side of things, the most I can do is have our fences extend "as if" connecting, but minecraft won't respond back, its like proposing to the girl of your dreams only to be left hanging.

[2015-10-19 16:52] Sunconure11 commented on #66
How would I fix the alpha channel? I use paint.net to make textures.

[2015-10-19 16:53] Sunconure11 commented on #66
I'll do Soul Squash textures soon, I think I have fixed my sleeping habits.

[2015-10-19 16:54] Sunconure11 commented on #66
Also, I think I found out what is going on with the images. They are indeed transparent, I think there must be a different way of downloading them.

[2015-10-19 16:54] Sunconure11 commented on #66
Try downloading the images through this:

https://www.dropbox.com/s/ajws5acg6zuks9d/baalrot.png?dl=1

Change dl=0 to dl=1. This will give you the proper image.

[2015-10-19 17:02] IceDragon200 commented on #66
@Sunconure11 so in short, dropbox stripped the alpha channels for the previews...

[2015-10-19 17:07] Sunconure11 commented on #66
Basically.

[2015-10-19 17:10] Yulife commented on #66
That looks really flat. I suggest you use the vanilla mushroom as a base and then extend.

[2015-10-19 17:25] Sunconure11 commented on #66
Yeah, it does. I made it when I was half awake. I want to change it.

[2015-10-19 17:33] Sunconure11 commented on #66
https://www.dropbox.com/s/94ctsj97lx47d8x/baalsrot2.png?dl=0

What about this?

[2015-10-19 18:25] Yulife commented on #66
It doesn't look like it has any gradient (shading).

[2015-10-19 18:49] Sunconure11 commented on #66
I always put some noise in. What about this?

https://www.dropbox.com/s/gg7l01b0yshf9vl/noiselessbaal.png?dl=0 It lacks noise.

[2015-10-19 19:05] Yulife commented on #66
Like I said, it doesn't have any shading. I suggest you look up some texturing tutorials or pixel art tutorials to get the basics :)

[2015-10-19 19:14] Sunconure11 commented on #66
I'll see about redoing it later then.

[2015-10-19 19:25] Sunconure11 commented on #66
Do you have any good resources for this? Because I tried to shade it like the brown mushroom.

[2015-10-19 19:28] Sunconure11 commented on #66
https://www.dropbox.com/s/zkz2vvjw2lxt8cy/Screenshot%202015-10-19%2015.28.28.png?dl=0

What about this?

[2015-10-19 19:35] Sunconure11 commented on #66
https://www.dropbox.com/s/6ua494szubik9z5/Screenshot%202015-10-19%2015.34.35.png?dl=0

A more tweaked version. If this is satisfactory, I will release the file.

[2015-10-19 20:05] ghost commented on #116
@IceDragon200  there is a mod called et futurum ganymedes added new fences and they all work with vanilla fences fine.

see here.   you need to use a special connect to fence event and make sure ur fence extends block fence.
https://github.com/ganymedes01/Et-Futurum/blob/master/src/main/java/ganymedes01/etfuturum/blocks/BlockWoodFence.java

they work . i tested it. i m playing with it. all fences

[2015-10-19 20:09] ghost commented on #116
@ganymedes01 not sure if i can do this but ask him how he did it

[2015-10-19 20:45] IceDragon200 commented on #116
@trollworkout He overwrote the vanilla oak fence and replaced it with his BlockWoodFence, which is why they all connect

[The Pudding](https://github.com/ganymedes01/Et-Futurum/blob/8a201e59eef4e115fd8ef938d46f745361ae7376/src/main/java/ganymedes01/etfuturum/recipes/ModRecipes.java#L48-L53)

[2015-10-19 20:58] buttilda commented on #116
Yup that's how I did it. Not sure if there's any other way to do it

[2015-10-20 03:22] ghost commented on #116
@ganymedes01  @IceDragon200  i get it . ah well :D i actually removed et futurum oak fence and enabled vanilla instead cause but renamed it was still showing up in the game as village structures or from mods or in recipes.  too bad ;p

[2015-10-20 04:19] Yulife commented on #66
Yeah thats much better. Give it a subtle dark border and it's great!

[2015-10-20 05:20] labpaw commented on #121
@IceDragon200 Perhaps, maybe you just can disallow bottle filling from GC fluid sources? This bug is really old and applies to all Forge fluids as I know.

[2015-10-20 11:32] ghost commented on #121
@IceDragon200  @Adaptivity  disable water bottle issue and use craft bucket to bottles recipe that you can quickly do without crafting table i recommended 1 bucket + 3 bottles to 3 brews + empty buckit :)

[2015-10-21 08:49] trollworkout opened #122 "bug: growthcraft seems to crash with an erebus water bambucket"
very niche thing this bambucket  and is disabled in my mod since i cant use it for anything but i m thinking or reporting this bug since it may be from your side and may help smooth out the code

water bambucket + empty growthcraft barrel

see here
http://pastebin.com/F3sEfgzW

[2015-10-21 08:54] ghost commented on #117
i was thinking getting the hive is a bit more dangerous swarm of bees attack whoever is closest but once taken then is just whatever u guys have is fine. maybe the swarm comes out and goes from flowers next too bee box once in a while that's it.

[2015-10-21 18:27] IceDragon200 commented on #122
@trollworkout That's pretty weird, I have no idea whats going on there, but try this [Latest dev Build](https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.3.1/growthcraft-1.7.10-2.3.1-complete_development-build0.jar)

[2015-10-21 19:59] Sunconure11 commented on #66
I'll push it out tomorrow.

[2015-10-22 02:37] Sunconure11 commented on #66
I think a border would look weird on it, but, I'll submit it now. Though I'm not sure when I'll make my new textures, though I do have ideas for the malice tree that are a bit macabre. For one thing, I have an idea to make the interior of the wood look like a spinal cord.

[2015-10-22 02:38] Sunconure11 commented on #66
https://www.dropbox.com/s/031rg44g1brzyq0/baalsrot3.png?dl=0

Current texture for Baal's Rot.

[2015-10-22 02:43] Sunconure11 opened #123 "Weird stack issue with recipes using empty honeycombs"
I've noticed that if you use empty honeycombs in a recipe, and use more than one honeycomb at a time when only one is required, all of the honeycombs you used get sucked up, without creating multiple versions of the new product if the recipe meets the other requirements. I have a script in my modpack that lets you turn empty honeycombs from growthcraft into waxcombs from harvestcraft, and it kind

[2015-10-22 15:23] Sunconure11 opened #124 "Bee boxes using modded wood"
Since we are making variants of the bee box using vanilla woods, would it be possible to add variants for modded wood?

[2015-10-22 15:31] Sunconure11 commented on #66
Your malice wood textures are fairly good BTW.

[2015-10-22 16:40] IceDragon200 commented on #124
o_o The thing is, there is a CRAP TON OF THEM

I'd make it an external mod for each Natura, Forestry, etc..

there are just so many of them :O

[2015-10-22 16:42] IceDragon200 commented on #123
@Sunconure11 weird, O: honeycombs are just your everyday item, they don't do anything special at all, can you give me steps to reproduce?

[2015-10-22 17:24] Sunconure11 commented on #123
Here is the script I am using with Harvestcraft. It requires Minetweaker.

http://pastebin.com/SCFGdDeH

Convert the empty honeycombs to waxcombs, and shift click on them.

[2015-10-22 17:24] Sunconure11 commented on #123
Something similar happens with drinks as well, if you drink a stacked beverage, it will only return one glass bottle.

[2015-10-22 19:03] IceDragon200 commented on #123
@Sunconure11 Ah, the drink bottles are an existing bug

[code]

It will only add an empty bottle if the stack has been depleted

[2015-10-22 19:23] IceDragon200 commented on #123
@Sunconure11 Try this [build](https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.3.1/growthcraft-1.7.10-2.3.1-complete--d2b8552.jar), I've fixed the bottle stack issue, not sure about the honeycombs though

[2015-10-22 19:24] IceDragon200 commented on #123
@Sunconure11

What does `noReturn()` do here?

[code]

note: I've never used Minetweaker or Harvest Craft before

[2015-10-22 19:46] Sunconure11 commented on #123
It makes sure the item is consumed instead of returned, I had added it in because I thought it would stop this bug.

[2015-10-22 20:23] IceDragon200 commented on #123
@Sunconure11 Honeycombs are container items, they will return themselves when used in a recipe.

Now we make a decision, split the honeycomb into 2 separate items, the empty one and the filled one.
That fixes your bug, but expect plenty of "breakage" afterwards.

[2015-10-22 21:12] Sunconure11 commented on #123
I suppose we can try that.

[2015-10-22 21:32] IceDragon200 commented on #123
@Sunconure11 Here, give this a try [build-c3c32f5](https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.3.1/growthcraft-1.7.10-2.3.1-complete--c3c32f5.jar)

Also could you test the beebox for me, since I had to change quite a bit of code to get this in

The new honey comb items are:

[code]

[2015-10-22 22:03] IceDragon200 commented on #122
@trollworkout Can you reproduce this in a pure growthcraft environment?

[2015-10-22 22:04] #116 closed

[2015-10-22 22:09] Sunconure11 commented on #123
I'll test it in a bit. What aspects of it need testing?

[2015-10-22 22:11] IceDragon200 commented on #123
@Sunconure11 Try placing a honey comb in the box, removing them, and see if it generates both honey combs and combs with honey with bees

tl;dr Make sure it does what it used to do

[2015-10-22 22:12] IceDragon200 commented on #121
@trollworkout @Adaptivity Here, added the suggested recipe, give it a spin [Build-d1af8c1](https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.3.1/growthcraft-1.7.10-2.3.1-complete--d1af8c1.jar)

[2015-10-22 22:22] Sunconure11 commented on #123
All seems to be well. Now to let it generate honey, and then I'll confirm the results of this.

[2015-10-22 22:22] Sunconure11 commented on #123
It works.

[2015-10-22 23:06] ghost commented on #121
@IceDragon200  checking it right noe :)

[2015-10-22 23:07] ghost commented on #122
@IceDragon200  ill go growthcraft + erebus only with that new water bottle build. i ll see if it still does it.

[2015-10-22 23:08] IceDragon200 commented on #123
(ง •̀┌┐•́)ง Feel free to close unless you find any more issues

[2015-10-22 23:17] #123 closed

[2015-10-22 23:20] ghost commented on #122
@IceDragon200  still does it

erebus + growthcraft only..no other mod
see for yourself: http://pastebin.com/6sWpGKz5

[2015-10-23 00:16] IceDragon200 commented on #122
@trollworkout  Try this [Build-e107cb0](https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.3.1/growthcraft-1.7.10-2.3.1-complete--e107cb0.jar)

[2015-10-23 00:32] ghost commented on #122
@IceDragon200  fixed. you can close this. thank you very much :)

[2015-10-23 00:38] #122 closed

[2015-10-23 00:39] ghost commented on #122
:+1:

[2015-10-23 07:35] ghost commented on #121
@IceDragon200  :+1:  tested and is perfect.

i am very happy with what you have done i consider this bug closed.

this doesn't break immersion and still allows you to drink of wine pools in mystcraft using *bottles and a  bucket.

[2015-10-23 07:39] ghost commented on #121
yes if you play mystcraft u can can make a world with seas of wine   or any other growthcraft liquid :) now i can just carry a bucket and get drunk as heck.  happened after you guys added liquids for the brews. the original mod didn't have that.

[2015-10-23 07:42] ghost commented on #124
haha  sooooooo many woods

can u make it so u can scan trough all plank ore and apply the texture for that plank to a bee box. instead of premade ones generate the ones you are missing.

theres a ton of them! at least 100 different planks.

[2015-10-23 07:43] ghost commented on #124
i'd say dont even bother :) let someone else add an addon using the api if they really want to, just default to oak for anything u don't have.

[2015-10-23 07:45] ghost commented on #108
loooking forward to this one spent an entire day loooking for a damn nether fortress an nothing. i jsut wanna get drunk ;_;

i got about 6 barrels full of young unfermented brews .

[2015-10-23 12:20] vadis365 opened #125 "Question about Bamboo"
Hello,
I work on the Erebus mod, we are tweaking a few things atm for cross-mod compatibility.
We would like to make our bamboo interchange with Growthcraft bamboo in recipes etc.
Could you tell me if you register Growthcraft bamboo in the oreDict and if so under what name?
I could poke about in your repo looking for it - but I thought I would ask directly :)
Cheers,
Me.

[2015-10-23 12:27] vadis365 commented on #108
If this is implemented - I have just added a 'cultivated mould' block in The Erebus which is used as a fuel for a composter block - but at a stretch, and if it seems fitting, I would like to oreDict it to match your yeast ;) We also have a 'wild' mould that grows much more slow which could be used instead (if the cultivated variety seems OP)

[2015-10-23 12:28] Ar97x commented on #124
I say that we should add the ones from the mods we already have an api or
some sort of compatibility.

[2015-10-23 12:31] ghost commented on #124
@Ar97x  u got thaum api so do the greatwood and silverwood for starter
then maybe BOP . seems a lot of people also play forestry , and biomes xl and highlands i think.

[2015-10-23 12:35] ghost commented on #108
@vadis365  what is this?? growthcraft working with erebus <3 there's a few things that require mention bamboo and honey being the biggest. i patched so growthcraft honey comb filled -> erebus honey drip and  erebus honey bucket + bucket ->  youngmead.  also  they want to make bee box from all types of mod woods including erebus?  sorry that was offtopic. there is a growthcraft api you guys could a

[2015-10-23 12:36] Ar97x commented on #124
We have an api for forestry too I think, so we should make the variants
from its infinite types of woods. And I don't work with code, I'm just
suggesting.

[2015-10-23 12:38] ghost commented on #124
@Ar97x  i deff recommend biomes of plenty as there are "plenty' of people using it.  get it .ok ok. i leave now haha by that extent making barrels from different woods may be also an interesting project. maybe even different woods affect the fermentation speed?

[2015-10-23 12:40] Ar97x commented on #124
@trollworkout this seems really nice, different barrels with it's own
properties.

[2015-10-23 12:46] ghost commented on #124
@Ar97x  in real life you can get different flavours for your brew depending on what wood you use . maybe im thinking you can generate special brews with extended lengths or custom nbt tags based on what kind of wood you made your barrel from. like flavours. for ex wine is best in oak. so if you use oak you can get aged wine maybe dunno. just a thought.

young wine, fermented aged wine, fermented a

[2015-10-23 13:18] spannerman79 commented on #125
The only oredict that shows is;
`woodPlank` or `plankWood`
http://i.imgur.com/Q9ENtve.png

Edit: Its easy to find the rest https://github.com/Alatyami/Growthcraft-1.7/blob/development/src/java/growthcraft/bamboo/GrowthCraftBamboo.java#L196

[2015-10-23 14:03] vadis365 commented on #125
Thanks. Will register our bamboo to be compatible with this. The food item doesn't conform to oreDict standards though...
OreDictionary.registerOre("cropBambooshoot", bambooShootFood.getItem());
OreDictionary.registerOre("listAllveggie", bambooShootFood.getItem());
usually its foodXXXXX as in
OreDictionary.registerOre("foodMushroom", new ItemStack(Blocks.red_mushroom))

*Edit I can always register

[2015-10-23 15:00] IceDragon200 commented on #121
@trollworkout I can haz sea of Sake and Malice Cider? :heart:

[2015-10-23 15:00] #121 closed

[2015-10-23 15:11] IceDragon200 commented on #125
@vadis365 We inherited those, I'll update/add all the oreDict names according to the standard, TO THE BEST OF ABILITIES!

Those ones that you listed are for compat with Harvest Craft, I dunno if they changed it, I can't find the source to peek at orz

[2015-10-23 15:20] IceDragon200 commented on #108
@vadis365, @trollworkout Since I'm refactoring the API, I wouldn't recommend touching it just yet, unless you want to register bees, booze and vine drops (which is what it does currently)

API aside, the oreDict name, ahhh, `materialYeast` I suppose

[2015-10-23 15:22] vadis365 commented on #125
Cool - thanks for the reply. Looks like there the 'standards' are actually just common names - my bad.
http://www.minecraftforge.net/wiki/Common_Oredict_names

[2015-10-23 15:29] ghost commented on #121
ya!

[2015-10-23 15:31] ghost commented on #108
@IceDragon200 u changed the honey i was like why is my honey so dim...deprecated craft 4 ... ahhhh ahahaha

[2015-10-23 15:32] Ar97x commented on #121
Cheers for Oceans of Sake!

[2015-10-23 15:32] IceDragon200 commented on #125
@vadis365 https://github.com/Alatyami/Growthcraft-1.7/blob/8a2745e4d6ebbbdc6704220c38c9541b961b05f2/src/java/growthcraft/bamboo/GrowthCraftBamboo.java#L213-L245

Here are the updated names: comes in 2 variants, vanilla compat and bamboo specific

[2015-10-23 15:34] vadis365 commented on #125
Awesome - I'll update our oreDict names tonight (U.K.) to make it all good - thanks again for your time :)

[2015-10-23 15:45] IceDragon200 commented on #108
@trollworkout https://github.com/Alatyami/Growthcraft-1.7/issues/123

Here's what happened

Also would anyone like to make the yeast texture?

[2015-10-23 15:46] IceDragon200 commented on #73
@Alatyami  Oh yeah, I changed bamboo fences to actual fences some time back in development, so I guess we can close this

[2015-10-23 15:57] Sunconure11 commented on #108
I suppose I can make one, based on various powder textures. Or would you like something else?

Maybe color can be based on the environment, if we create versions of yeast found in certain environments only?

[2015-10-23 16:03] Sunconure11 commented on #108
Also, I found something while looking at powder textures to base this off of.

http://www.minecraftforum.net/forums/minecraft-discussion/suggestions/72791-ghast-powder

Maybe this can fit somewhere in the nether module? Maybe it makes nether crops grow to maturity instantly, and is crafted with ectoplasm as well?

[2015-10-23 16:03] Sunconure11 commented on #124
What about a bee box using bamboo from this mod? We are adding malice wood boxes.

[2015-10-23 16:15] IceDragon200 commented on #108
@Sunconure11 That would be cool, I'm currently refactoring the fermentation, so you can use different items for different booze, instead of just the nether wart, glowstone, redstone trio

[2015-10-23 16:38] Sunconure11 commented on #108
Whipped this up in a few minutes.

https://www.dropbox.com/s/uq0non3m27c0eoq/defaultyeast_brewers.png?dl=1

[2015-10-23 17:03] IceDragon200 commented on #124
@Sunconure11 Good point, I'll whip up the textures

[2015-10-23 17:12] Sunconure11 commented on #108
I wrote down some ideas regarding yeast, and I am whipping up textures for most of these (they are mainly just recolors, because yeast is microscopic, and these are all in powdered forms):

Forms of yeast:

Brewers yeast: The most common form of yeast. Can be found randomly by breaking any fruit. Effects on brewing: None

Netherwart: Not truly a yeast, but, can be used as such. Effects on brewing:

[2015-10-23 17:18] Ar97x commented on #108
That's great. But what's your reference for magic biomes? Will this be like
a crossover with Thaum/Mistcraft?

[2015-10-23 17:20] Sunconure11 commented on #108
Thaumcraft, Ars Magica 2, and Biomes O Plenty have magical biomes.

Also, I created the textures for all of the yeast variants.

https://www.dropbox.com/s/fxxzh9o6021w8hf/yeastforms.zip?dl=0

[2015-10-23 17:21] Sunconure11 commented on #108
Any biome registered as magical in the biome dictionary would be a requirement, basically.

[2015-10-23 19:46] IceDragon200 commented on #119
@Ar97x Here you are [Icons](https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/res/GrowthcraftIcons_2.3.1-46086f4.zip), I exported them using NEI, comes in all the sizes offered by NEI EXCEPT 48x48

This based off the current development HEAD

[2015-10-23 19:55] Ar97x commented on #119
Thanks, I'll send this to the guy tonight.

[2015-10-24 17:23] MidnightsFX commented on #109
I am sure you guys have some unit tests that probably hit a fair amount of this stuff. But if I was very unsure of how stable this mod was and how it would work in a modpack or otherwise this is what I would test.

**Generation**
- Check to make sure that beehives generate, checking vanilla trees and modded trees
- Check village generation, make sure that when removing or adding blocks to support

[2015-10-24 17:42] spannerman79 commented on #109
Already done; Forge 1448 (10.13.4.1448). Java; 7 and 8.

Most mod devs follow whatever is the recommended forge version is, and right now thats 10.13.4.1448

Edit:  Its even in the [README.md](https://github.com/Alatyami/Growthcraft-1.7/blob/development/README.md)

[2015-10-24 18:45] MidnightsFX commented on #109
Ok I removed the section stating the tests should target a specific forge build and java revision.

Also mentioned that the mod should be tested with worlds that used the previous version to check that upgrades does or does not break existing worlds.

[2015-10-24 23:50] IceDragon200 commented on #108
@Sunconure11, @Ar97x Whew, this took some time (smashed my head against the code a bit)
This is what I've managed to implement thus far
- [x] Brewers Yeast - Can be used to ferment booze (however it cannot be obtained by normal means yet)
- [x] Nether Wart - is 33% faster than Brewers Yeast (needs config option)
- [x] Ethereal Yeast - Just leave a barrel in any MAGIC biome with a bit of young booz

[2015-10-25 00:40] Sunconure11 commented on #108
For production of more yeast without being in the required biome, or tedious farming, what about some kind of solution that can be placed in a barrel, and if any form of yeast is added, it will slowly produce more yeast (at a cost of a small portion of the solution over time, though more solution can be added), in a fashion similar to bees? Maybe the solution could be made by mixing wheat, fruit,

[2015-10-25 00:47] Ar97x commented on #108
I like the biomes idea. It forces you to make other bases and find required
biomes. The solution idea seems helpful, but it would be too cheap to get
in my opinion. Another thing I was thinking about was some sort of big
tank, for mass production of yeast, maybe built in some sort of barrel-ish
pattern.

[2015-10-25 01:03] Sunconure11 commented on #108
Maybe 4 barrels in a circular pattern, with 5 buckets could create the yeast barrel?

[2015-10-25 01:12] Ar97x commented on #108
I was actually thinking about multiblock stuff, but we may discuss that.

[2015-10-25 02:56] IceDragon200 commented on #108
4 barrels + 5 buckets!? WHAT SORCERY IS THIS!? (I already have a hard time with iron with all these tech mods, don't make me cry anymore >:)

I'd just add a new block called the "Ferment Jar", you just drop some booze in it and it uses it up to make yeast.

Plus, you can slap it on your counter right next to your favourite slice of cake (no, its not a lie).

One bucket worth of booze should produc

[2015-10-25 12:40] ghost commented on #125
:yellow_heart:

[2015-10-25 13:05] trollworkout opened #126 "Drinking pouch and brewers bag"
drinking pouch = a re-usable leather bag item that can hold up to 5 doses of any 1 type of brew
each use after 1st one increases the chance of tipsy by 10% (60%, 70%, 80%, 90%, and last gulp is guaranteed tipsy). this is calculated based on how much alcohol is left. u could cheat around it by refilling it after each 1 drink. the idea is to make an useful item for adventuring but not without drawba

[2015-10-25 13:47] Ar97x commented on #108
I really would like to see a big multiblock structure, producing batches of
yeast when full on young booze, something like the iron tanks from
Railcraft but made mostly of wood. And as we are making the bee boxes for
all wood variants, we could make it this way too.

[2015-10-25 13:53] Ar97x commented on #126
This is really cool, I think this mod needs something like this. But we
could have a metal variant for the pouch, that holds up to 8 or 10 doses of
the drink. Do you have any parameter of how much a dose would restore for
hunger? A bottle worth?

[2015-10-25 14:21] ghost commented on #126
this mod is really cool and all is missing is some little campy things like wearables , collectibles , decorations or accessories  that players can use to really get into the brewing growing farming mode. like wear your brewers hat, get your farmers coat  and your brewing bag and so forth. just little details to enhance the mod "flavour" and "feel"

[2015-10-25 14:24] ghost commented on #108
lol is kinda like magic but then again minecraft is kinda funny like that so having barrels in odd placements or in certain biomes or from certain types of wood change up the yeast type or change up how much of it you get it's not surprising. adds a whole new fun mini game like layer to the game. maybe different yeasts could be used instead of redstone, glowstone, and netherwarts. certain yeasts m

[2015-10-25 15:08] Sunconure11 commented on #108
Ferment jar could work.

[2015-10-26 02:09] Sunconure11 commented on #66
The ghost model and textures are next. I'll start work on it tomorrow. Humanoids are fairly easy to do. I'll make it translucent too. Then I'll think of ideas for the soul squash. Why not make it similar to Chayote Squash, and you can grow them using the fruit? https://en.wikipedia.org/wiki/Chayote

[2015-10-26 02:17] Sunconure11 commented on #66
Regarding knife bushes, the idea came from reading into various mythologies. (https://en.wikipedia.org/wiki/Diyu#Eighteen_Levels_of_Hell based off of the mountain of knives)

So likely, I will make it a collection of sharp rocks. Not sure how the crude knives made from them would look yet.

Also, I thought of a death message for dying via netherrash infection.

[PLAYERNAME] Scratched himself to de

[2015-10-26 02:27] Sunconure11 commented on #66
Also, I guess I can create some miscellaneous textures to go along with the ghost model. The ghost vine could work somewhere, though it would be very difficult to pull off. Maybe one day.

[2015-10-26 16:59] Sunconure11 commented on #66
https://www.dropbox.com/s/xmpvnyixda90anj/Screenshot%202015-10-26%2012.58.57.png?dl=0

Working on it. However, it looks a little too much like vanilla zombies. Are there any other traits I should add to it?

[2015-10-26 21:29] Ar97x commented on #66
Fluctuation, for sure. Maybe a scary face and no arms, and chains around
the body would be really cool

[2015-10-26 23:13] Sunconure11 commented on #66
Chains could be done via texturing, as well as the face. Flight would have to be done via the code.

[2015-10-26 23:15] Ar97x commented on #66
You could make the bottom transparent, to just look like it's flying, but I
guess that would be in texturing too.

[2015-10-27 12:22] BakermanLP opened #127 "Modpack Addition to ProjectRETv8"
Hello,
I want to include the Growthcraft Community Edition Mod in our new Modpack "ProjectRETv8". The complete list of mods can be seen here:
https://github.com/BakermanLP/ProjectRETv8/blob/master/versions.md

Thank you for taking over the mod! I like it!

Michael (aka BakermanLP)

[2015-10-27 18:34] axlegear commented on #17
Maybe a bit of a necropost but I would love a bug-mod.  However I have no intention of using 1.8 anytime soon...

[2015-10-27 22:21] ghost commented on #66
hey guys i got this idea for nether plant.

chain vines.

this plant that grows like long chains hanging from the ceiling of nether and they grow down a lot. quite rare. when you break them they break into chain links which you can use to craft chainmail armor. but you can also use to climb on them  . i dunno. what do you think?

[2015-10-28 02:28] Sunconure11 commented on #66
I don't think chainmail should be handled by this mod. If it is, it should be crafted from mundane materials.

Also, speaking of the ghost, I think I know how to implement the ideas for it mentioned. I'll texture it this weekend, since with your ideas, the model might as well be finished.

[2015-10-28 02:29] Sunconure11 commented on #66
Also, transparency CAN be handled by the textures, not just the code.

[2015-10-29 03:56] Sunconure11 commented on #66
Also, I'm pretty sure it is possible to code the mob to fly without texturing it to look like it. I will see if Ice or someone else can pull that off when I finish the texture. The model is pretty much finished, I'll just remove the arms. Chains will probably be done via the texture. To be fair, I have been toying with desert module ideas a bit.

I don't have any ideas for the texture of the soul

[2015-10-31 23:32] Sunconure11 commented on #126
I think I'll make the waterskin more oval shaped.

http://battle-ready.com/home/wp-content/uploads/bladder-small-dark-brown-round-1.jpg

[2015-10-31 23:34] ghost commented on #126
@Sunconure11  sounds great :)

[2015-10-31 23:40] Sunconure11 commented on #126
https://www.dropbox.com/s/7ejywmngtgzu3hv/Screenshot%202015-10-31%2019.39.55.png?dl=0

what am i even doing

[2015-10-31 23:40] Sunconure11 commented on #126
And that is what pretty much every texture looks like when I first start them. However, I feel like it already looks awkward. Any advice?

[2015-11-01 00:20] ghost commented on #126
@Sunconure11  take the image you have and shrink it down then  draw on top of it in a new later make it nicer and smoother

[2015-11-01 17:55] IceDragon200 opened #128 "Thaumcraft 5 support (eventually)"
~~o_o; I just an email that the Growthcraft build was failing to my surprise, the old Thaumcraft 4 api has taken a hike, replaced by 5.~~

~~I've opened an issue to see if we can get the old api repo back for now, that or I'll be copying the 4.x API into growthcraft against everyone's advice.~~

Issue was resolved https://github.com/Azanor/thaumcraft-5-api/issues/2

Anyway, this will be a 3.x mile

[2015-11-01 17:56] IceDragon200 commented on #127
@Alatyami PING

Where do we store the list of mod packs using Growthcraft?
I'd handle this in your place, but I have no idea where to note this down.

[2015-11-01 21:22] trollworkout opened #129 "some of the new liquids don't behave like liquids (see desc)"
me and my friend we have Mystcraft on our server and we got lands with rivers and seas of Growthcraft liquids and I noticed some of them don't behave like liquids. You don't drown in them or if you fall you take fall damage.

For example
Potent Fermented Sake

I think you should create a test area for each liquid make sure it actually behaves like liquid when you dive into it.

[2015-11-01 21:30] IceDragon200 commented on #129
@trollworkout Blame minecraft, it specially handles water blocks which cause drowning, because of a bug regarding glass bottles and growthcraft liquids turning into water, I changed the material which breaks a lot of "water" like behaviour (drowning, taking fall damage)

I'll look into it, but no guarantee, if someone with more experience working with fluids appears that would be splendid!

[2015-11-01 22:00] ghost commented on #129
@IceDragon200  just brining it to your attention. some liquids seem to work fine though. odd.

[2015-11-01 22:14] spannerman79 commented on #127
@IceDragon200 I assumed it was in the README.md - perhaps creating a seperate file with the filename of `Permissive_Modpacks.md` or something to that effect.

[2015-11-01 23:58] IceDragon200 commented on #127
@spannerman79 @BakermanLP [Modpacks with Growthcraft](https://github.com/Alatyami/Growthcraft-1.7/wiki/Modpacks-with-Growthcraft)

I hope I got all of them :sob:

[2015-11-02 00:16] spannerman79 commented on #127
Yes you did @IceDragon200

[All tagged modpack issues](https://github.com/Alatyami/Growthcraft-1.7/issues?utf8=%E2%9C%93&q=label%3Amodpack+) currently show (at the moment) 8 issues and you have 8 listings

:+1:

[2015-11-02 00:24] IceDragon200 commented on #127
@BakermanLP You are granted permission to include Growthcraft in your modpack.

If you have any issues, don't be afraid to report them

[2015-11-02 00:24] #127 closed

[2015-11-02 04:25] Sunconure11 commented on #108
I need to deal with some crap going on with a friend, but, in the mean time, I'll post some colors for various beverages using various forms of yeast:

Ethereal yeast beverages:

Amrita: If one attempts to create Malice Cider using Ethereal Yeast, Amrita will be created instead. All of the buffs on it are stronger, but, so are the debuffs. Color: 16730112

Ambrosia: A far more stronger variant of

[2015-11-03 01:57] #119 closed

[2015-11-03 01:57] Ar97x commented on #119
Closed #119

[2015-11-03 02:25] Ar97x commented on #1
Request from forum: "hey can i make a request can u make bamboo walls connet to blocks and glass planes b/c i dont like the the whole holes in my walls". You decide about it. Also, what will be the major feature for 2.4.x? The Still, Nether Module or Yeast?

[2015-11-03 02:32] Ar97x commented on #90
I think we can settle this to 2.4, what do you think @IceDragon200? I can work on this at next weekend, the only thing lasting would be the coding to make it spawn on water bodies.

[2015-11-03 03:24] IceDragon200 commented on #90
@Ar97x I should be free over the weekend, so yup, lets make the warf!

[2015-11-03 03:26] IceDragon200 commented on #1
@Ar97x Well, Yeast is already in development, so that's a 2.4.x feature, the nether module is on hold, and the Still doesn't exist (no pun intended)

[2015-11-03 05:22] Sunconure11 commented on #1
I need to deal with some crap going on with a friend, so, I don't think I can do much (let's just say she needs... serious mental help). I'll make the texture for the ghost whenever possible. I'll try and just generate colors for fluids for now.

[2015-11-03 05:54] Sunconure11 commented on #108
Lager yeast beverages:

Lager: Brewing ale with lager yeast will create lager. Color: 10451025

Gelid Booze: Brewing malice cider with lager yeast will create this. Player is given a large haste buff instead of a large strength buff. Color: 9038320

Bayanus yeast beverages:

Port: Brewing wine with bayanus yeast will create port wine, a fortified wine. Color: 5120038

Netherrash beverages:

Vile S

[2015-11-03 16:39] spannerman79 commented on #128
Well technically it's not a good idea to include an API into a mod directly as it can change, but in this case you can add the Thaumcraft API files directly in just as long as you state in the releases and in the file information over on curse forge that the particular release is only used with Thaumcraft 4.x and minecraft 1.7.10

[2015-11-03 17:31] IceDragon200 commented on #128
@spannerman79 I forgot to update the post, the 4.x api was restored

[2015-11-04 03:01] Sunconure11 commented on #66
While I wait for a friend who is potentially suicidal to come back on, I'm going to try to replicate this texture:

http://www.minecraftforum.net/forums/minecraft-discussion/suggestions/72791-ghast-powder

As for the ghost, I have a design idea in mind that might be easier for me to pull off.

[2015-11-04 03:33] Sunconure11 commented on #66
https://www.dropbox.com/s/jiceovn74lfetfw/Screenshot%202015-11-03%2022.32.43.png?dl=0

I tried to rip the texture for the image instead.

[2015-11-04 03:36] Sunconure11 commented on #66
https://www.dropbox.com/s/j9sztcvl7k4005a/ghastpowder.png?dl=1

See if this is good enough.

[2015-11-04 13:25] IceDragon200 commented on #129
@trollworkout I think I figured it out, I never set the Fluid properties, I'll try it later (after work about 17hr EST) and give you a build to mess with :hand:

[2015-11-04 13:46] ghost commented on #129
@IceDragon200 sounds good :)

[2015-11-05 02:19] IceDragon200 commented on #129
@trollworkout Didn't even make a dent, fluids need to use Material.water if they want to be fluids...

I've added a config option to change booze fluids to "water" material, this re-introduces the water bottle problem, but it behaves like a proper fluid.

You just can't win :(

A. Fluids work like fluids (you can swim in them and drown, but bottles will treat every fluid as water)
B. Fluids are bo

[2015-11-07 16:24] IceDragon200 commented on #1
@Ar97x https://github.com/Alatyami/Growthcraft-1.7/commit/aa99fd7739151b9615c6d2463065a8b76593b3e1

[2015-11-07 16:26] IceDragon200 opened #130 "Preview Builds 2.4.0"
# Preview Builds 2.4.0
Builds are ordered from top to bottom (newest to oldest), they are labelled based on their commit sha, and should not be considered an incremented value.

You can get EDGY builds of the latest development branch, 2.4.0 release, here for testing

WARNING: **ALWAYS, ALWAYS BACKUP YOUR WORLDS BEFORE TRYING A PREVIEW BUILD**
I WILL NOT BE HELD RESPONSIBLE FOR LOST OF WORLDS, COR

[2015-11-07 16:27] IceDragon200 commented on #109
@Alatyami @MidnightsFX @spannerman79 https://github.com/Alatyami/Growthcraft-1.7/issues/130
I've posted a handful of test builds of the latest development branch

[2015-11-07 23:43] Sunconure11 commented on #66
https://www.dropbox.com/s/i4c6wjkdpof3kch/Screenshot%202015-11-07%2018.43.09.png?dl=0

Working on the ghost. I plan on doing the soul squash after I finish these textures.

I'll conjure up malice leaf textures quickly.

[2015-11-07 23:51] Sunconure11 commented on #66
https://www.dropbox.com/s/nb2lfvf2o4m9aek/leaves_malice.png?dl=0

Squanched this up in a few minutes

[2015-11-07 23:53] Sunconure11 commented on #66
https://www.dropbox.com/s/kh1f7w9otxue458/leaves_malice_opaque.png?dl=0

We should also create blocks for apple leaves, so they will drop apple saplings and such.

[2015-11-08 02:10] MidnightsFX commented on #109
Sounds good, I will likely get a chance to do some testing tomorrow and
report back on the results.

On Sat, Nov 7, 2015 at 8:27 AM Corey Powell notifications@github.com
wrote:

[2015-11-08 05:39] Ar97x opened #131 "Error Reports"
I'm opening this for eventual error reports that might come from the forum and for anyone that needs help with bugs. If you can help, feel free to coment here. This is the first one:

[code]

[2015-11-08 05:41] Ar97x commented on #131
Damn, that was a big text, does GH have some kind of "spoiler" thing like Minecraft Forum?

[2015-11-08 05:55] spannerman79 commented on #131
No, but usually you can use markdown to clean the text up to be justified properly

[2015-11-08 08:29] Sunconure11 commented on #1
Updated the page to include that.

[2015-11-08 09:02] Sunconure11 commented on #130
Should we upload alpha builds to Curse, or no?

[2015-11-08 09:39] Sunconure11 commented on #66
I'll be uploading textures for the soul squash stem in a few minutes.

[2015-11-08 09:43] Sunconure11 commented on #66
https://www.dropbox.com/s/cnin0yjnccofz2c/soulsquashstems1.zip?dl=0

They have been tweaked to have a new color scheme, and to make them a little more distinct from vanilla vines.

[2015-11-08 09:47] Alatyami commented on #130
It would be better for Alpha's to stay on GitHub and only solid Beta's
should be posted to Curse.

-James

On Sun, Nov 8, 2015 at 4:02 AM, Joseph Caleb Jones <notifications@github.com

[2015-11-08 13:37] IceDragon200 commented on #131
@Ar97x

[code]

Use code blocks, or just toss it in a gist, everyone with a github account also has a [gist](https://gist.github.com/) account

[2015-11-08 13:38] IceDragon200 commented on #131
@Ar97x Also the report has nothing to do with Growthcraft :scream:

Actually: here are your culprits, according to the logs

[2015-11-08 17:14] Sunconure11 commented on #131
Found this error while trying to set up a farm structure using Recurrent Complex:

http://pastebin.com/WqzZtCrT

[2015-11-08 17:59] IceDragon200 commented on #131
@Sunconure11 https://github.com/Alatyami/Growthcraft-1.7/commit/8d5ae3e88e50f9d96ae605b9bddcd4db82a03d43

Check #130 for test build

[2015-11-08 19:37] Ar97x commented on #131
I'll tell the guy the best I understood, but I'm not sure if I got it all.

[2015-11-08 23:47] Sunconure11 commented on #131
Looks like the crash is happening on servers too.

http://pastebin.com/DiiCDKu4

[2015-11-08 23:54] Sunconure11 commented on #131
According to the logs, its happening on the serverside mainly, rather than the client. Maybe there is some bad code?

[2015-11-09 01:09] IceDragon200 commented on #131
@Sunconure11 A bad block, something that wasn't registered properly.

Based on the logs and how the code works, I create `ItemKey`s from Item/Block, for the Block, you need to fetch the Item for it, if the block has no Item, then its an invalid Block registration, this type of stuff crashes even NEI.

@Sunconure11 Can you test again (it will fail hard this time) https://github.com/Alatyami/Growthc

[2015-11-09 01:30] Sunconure11 commented on #131
I will test it this time.

[2015-11-09 01:36] Sunconure11 commented on #131
So, its intentionally meant to crash? So far, I have not crashed with that build.

[2015-11-09 01:37] Sunconure11 commented on #131
http://pastebin.com/ibf22VGw

wat

[2015-11-09 02:20] IceDragon200 commented on #131
@Sunconure11
:scream:
After my epic speech and feeling awesome... _puts paper bag on head_

https://github.com/Alatyami/Growthcraft-1.7/commit/f4d34f447928f8c002958efa0659ef70393ddb68

[2015-11-09 14:10] Sunconure11 commented on #131
It works, as far as I can tell.

[2015-11-09 18:55] MidnightsFX commented on #109
@IceDragon200 Sorry about the delay in this, I didn't get a chance to look at this yesterday but should this evening. Is there a place I can check the change-list for Build f4d34f4 ?

[2015-11-09 22:43] IceDragon200 commented on #109
@MidnightsFX https://github.com/Alatyami/Growthcraft-1.7/compare/8d5ae3e...f4d34f4

[2015-11-10 03:34] MidnightsFX commented on #109
Ok things are looking pretty nice so far. I really like the improved bee-boxes. Also is that a new model with the press?

Anyways, issues!
- Bee gen seems to be a little odd, I am seeing very, very few bee hives generating even when increasing the chance in the config.
- malice, greatwood and silverwood hives are enabled even if thaumcraft is not installed, not sure if that's intended.
- All growt

[2015-11-10 03:58] PitchBright opened #132 "Feature Request: Configgable Fruit Press Yield"
Would be sweet if we could change the amount of Cider Fluid Units per Apple. Each apple gives me 40 units, and each bottle holds 333 units. That works out to around 8 apples per bottle of cider. Personally, I'd really like to be able to change it, as needed… and have greater control over it.

Thanks!

[2015-11-10 13:07] IceDragon200 commented on #109
@MidnightsFX Bee spawning stuff `[Higher -> Slower]`, the higher you set the rate, the less likely they'll spawn. Their world gen is the opposite, the higher you set the density the more likely they'll spawn

Malice, Greatwood and Silverwood bee boxes will exist regardless if their related mod exists, you won't be able to craft them, I'll disable them later, since we still need to add the Forestry

[2015-11-12 01:42] IceDragon200 commented on #132
@PitchBright https://github.com/Alatyami/Growthcraft-1.7/commit/949c62787d686496176439dc6f5b5845ccdea821

You can't configure the fruit press residue yet (as that part of the code is still WIP)

[2015-11-12 01:43] IceDragon200 commented on #124
So, shameless self plugging https://github.com/IceDragon200/GrowthcraftExtOak

I started a extensionn mod which adds the Forestry Bee Boxes (they require some "special" recipes to craft correctly)

[2015-11-12 01:45] IceDragon200 commented on #109
@MidnightsFX You wouldn't mind testing the latest build, added a few new config options for #132

[2015-11-12 01:48] MidnightsFX commented on #109
No problem, I'll take a look at it later tonight. Also I noticed that
growthcrafts liquids all look white in buildcrafts liquid tanks, I was
planning on providing more information on that later if needed.

On Wed, Nov 11, 2015, 5:45 PM Corey Powell notifications@github.com wrote:

[2015-11-12 02:32] PitchBright commented on #132
Dude! Did you just add that feature? And if so, where can I get a jar to test and confirm everything is tickity-boo?

[2015-11-12 03:05] IceDragon200 commented on #132
@PitchBright #130 features all the current builds

[2015-11-12 03:19] PitchBright commented on #132
I can never figure out where you guys keep those builds :(

[2015-11-12 05:36] PitchBright commented on #132
Works awesome! Thanks for doing that. That one little feature makes a huge difference. I'm gonna try and get it up on the server tonight.

[2015-11-12 05:36] #132 closed

[2015-11-12 05:42] PitchBright commented on #132
Incidentally… and somewhat related, with the apple growth rate settings:

[code]

What does the 8 represent? Is it that same weirdness as with the rarity in the previous issue I reported #56 a month or so ago…. or the math different there.

I'm curious because I'd like to make apples take X number of minecraft days to mature. I probably have some math stuff to figure out?

(I can open a different

[2015-11-12 13:20] IceDragon200 commented on #132
@PitchBright Its a rarity value, one day, ONE DAY I'll unify all of the values into something that makes sense.

The math behind that is `rand(value) == 0`, so you have a 1/8 chance, per "random tick" (note random tick, minecraft will call the block to update at some point, only god knows when though), for the apple to advance 1 stage.
[Reference Line](https://github.com/Alatyami/Growthcraft-1.7/b

[2015-11-12 14:00] IceDragon200 commented on #126
@trollworkout @Sunconure11 I gave it a shot, did what trollworkout said, also Pixel art [Tutorial](http://cyangmou.deviantart.com/art/Pixel-Art-Process-413418385)

Normal, 4x, 8x, and 16x respectively
![Water Bag](https://dl.dropboxusercontent.com/u/72618186/pictures/pixelz/minecraft/Growthcraft/WaterBag.png)![Water Bag 4x](https://dl.dropboxusercontent.com/u/72618186/pictures/pixelz/minecraft/Gro

[2015-11-12 16:25] Ar97x commented on #126
That shape is really nice. But like you said, it could use some new colors.
We can make them paintable, too. I think as the main color you can make it
nude, almost sand color.

[2015-11-12 18:54] ghost commented on #126
@IceDragon200  looks great i love the color actually. you could try lighter but i think it looks fantastic :))

[2015-11-12 23:22] PitchBright commented on #132
Thanks Ice!

[2015-11-13 00:29] PitchBright commented on #109
Also, the fluid amount seems off, when placed in tanks.  This was 1 bottle of Ale: http://imgur.com/FgSv6IL

[2015-11-13 01:32] Sunconure11 commented on #126
I think that might work better than my attempt at one. However, I was wondering, would it be possible to create a small window on it so that it shows the fluid inside?

[2015-11-13 10:39] Sunconure11 commented on #126
Also, why not make the bottom a bit darker?

[2015-11-14 01:46] IceDragon200 commented on #126
@Ar97x, @trollworkout, @Sunconure11 I played around with the contrast, you can see the new texture in the development, I've commited all the textures (colors, you can tweak them as you see fit) and uploaded the latest build

Check https://github.com/Alatyami/Growthcraft-1.7/issues/130, for details and a disclaimer

Now to enjoy the few hours left of my birthday :birthday:

[2015-11-14 05:11] ghost commented on #130
i think im gonna try this out see how it goes.

[2015-11-14 05:23] ghost commented on #130
@IceDragon200
i assume the water bag is not yet implemented cause i can't seem to add any liquid to it  . seems the recipes are also incorrect . the water bag created using leather and rope is not used in the dying recipes .  but is rather the white water bag that's used in all dying recipes. but you can't get white water bag unless you should be able to dye the original water bag white but unfort

[2015-11-14 13:11] Sunconure11 commented on #126
I think they look good enough at the moment.

As for the still, I keep forgetting about, and making block models isn't really my forte. I have no clue where to start on it. I'm more used to modelling mobs. Anyone else want to take a gander at it?

[2015-11-14 13:21] Sunconure11 commented on #66
https://www.dropbox.com/s/8lty3cmkfc8ngpq/Screenshot%202015-11-14%2008.20.36.png?dl=0

Working on new soul squash textures.

[2015-11-14 13:28] Sunconure11 commented on #66
https://www.dropbox.com/s/gms7ujzokit6b6u/soulsquash_side.png?dl=0

https://www.dropbox.com/s/lilyq657uvr0yae/soulsquash_top.png?dl=0

[2015-11-14 16:12] IceDragon200 commented on #130
@trollworkout Fixed the recipes, they should drain and fill correctly now as well :)

[2015-11-14 16:12] IceDragon200 commented on #126
@Sunconure11 Guess I could give it a shot, I still need to add the Fermenting jar

[2015-11-14 19:47] ghost commented on #130
@IceDragon200  tested it and indeed it works . however. new bugs to report :)
- the water bag only holds 3 doses.
  desired outcome: make maximum doses to 5 to make it more efficient than stacking 4 bottles of regular brew. note that water bag should be un-stackable.
- the water bag sound effect is eating.
  desired outcome: when consuming it should be drinking water bottle sound effect
- the wate

[2015-11-15 23:36] Sunconure11 commented on #126
I thought of a way to remove color from pouches if they have been dyed. Why not make them like leather armor, and simply dunking them in a cauldron removes them of color, at the cost of some water.

[2015-11-16 12:41] Sunconure11 commented on #130
Just a heads up, the link for the latest build is broken, it should be https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.3.1/growthcraft-1.7.10-2.3.1-complete--3540194.jar, not https://dl.dropboxusercontent.com/u/72618186/minecraft/mods/growthcraft/2.3.1/growthcraft-1.7.10-2.3.1-complete--3540194jar

[2015-11-16 13:30] Sunconure11 commented on #130
Also, in the latest build, this is the icon for the ferment jar:

https://www.dropbox.com/s/y2srq4hy4oz8j23/Screenshot%202015-11-16%2008.29.37.png?dl=0

[2015-11-16 13:33] Sunconure11 commented on #130
Also, you should be able to drink from bags, even if your hunger bar is full.

[2015-11-16 13:36] IceDragon200 commented on #130
@Sunconure11 Fixed build, but the bags haven't been implemented fully yet (they aren't `ItemFood` anymore, just `Item`), so you probably won't be able to use them for anything other than keeping fluids

[2015-11-16 13:38] Sunconure11 commented on #130
Creating yeast is very wonky in the ferment jar. Sometimes the progress resets if you exit the GUI, and if you clear all of the fluid, it does not show until you add more fluid.

[2015-11-16 13:41] IceDragon200 commented on #130
@Sunconure11 Yeah, also the inventory icon doesn't render correctly for me :(

I need to setup the network sync data

[2015-11-16 13:43] Sunconure11 commented on #130
Also, this: http://g.recordit.co/K4EBDBWXmD.gif

[2015-11-16 14:09] Sunconure11 commented on #66
I also have a few textures from an un-used mod idea of mine that had a bunch of nether content, and various miscellaneous items that might be of use. Would anyone be interested in the following?

Soulbricks (Based off the usage of souls as building materials in Wayne Barlowe's depictions of hell)

Reptile Scales (If any reptilian mob is added, this could be a possible drop, the plan was to have th

[2015-11-16 14:44] IceDragon200 commented on #130
@Sunconure11 I think the stack you have your inventory is now empty, that's a bug, did you try moving the item afterwards?

[2015-11-16 14:51] Sunconure11 commented on #130
Well, I was shift clicking it into the slot. Manually placing it does not cause this.

[2015-11-16 18:22] MidnightsFX commented on #109
@MidnightsFX - reminding myself to look at this again with #130 again (just gotta stop playing fallout...).

[2015-11-16 19:36] Alatyami commented on #130
Very cool.

On Mon, Nov 16, 2015 at 8:43 AM, Joseph Caleb Jones <
notifications@github.com> wrote:

[2015-11-17 01:21] IceDragon200 commented on #130
@Sunconure11 3: I believe I've conquered the bugs you mentioned, I need to get to the water bag some time later, but the ferment jar should be 100% now

[2015-11-17 02:48] ghost commented on #130
@IceDragon200  :+1:  looking forward for this new release

[2015-11-17 04:01] IceDragon200 commented on #108
Gentlemen, I what's the multiplier for hyper-extended potion effects

extended is `2.67` for reference

[2015-11-17 15:00] Sunconure11 commented on #108
Maybe hyper-extended effects could be double that of extended

[2015-11-17 15:17] Ar97x commented on #108
Could be. Or could be the potent effect with extended time (8min)

[2015-11-18 02:44] MidnightsFX commented on #109
@IceDragon200 With commit 8fc3352 - Build 8322f80 Liquids still look odd in any mod containers they go into. But so far the amount is looking better, I still need to test railcraft though as @PitchBright did. Also still not seeing a lot of beehives with a spawn setting of 1.

I didn't see any nether things. But, the config was showing up.

Keep up the good work! :+1:

[2015-11-18 13:40] Sunconure11 commented on #66
I'll just send over the Preta model and use that for the ghost for now.

Also, I decided against giving Soul Squash a pumpkin-like face. Textures for them as of now are complete.

https://www.dropbox.com/s/0r5khc7qgrga3od/preta.zip?dl=0

[2015-11-18 13:40] Sunconure11 commented on #66
I'll work on knifebushes next. Though I don't have a concrete plan in mind for their appearance as of yet.

[2015-11-18 13:42] Sunconure11 commented on #66
I feel like doing some progress towards the Desert Module. I have at least one idea for a neutral mob (goats are too conventional, and will be saved for the butcher module). https://en.wikipedia.org/wiki/Nothrotheriops

Not sure when I'll start modeling this, but, I might wait until after I think of an appearance for the knife bush in general.

[2015-11-18 14:24] IceDragon200 commented on #109
@MidnightsFX I had to report a fluid tank issue to Buildcraft, you may need to report the liquids to other mods as well, Growthcraft liquids MUST be rendered with their fluid color.

None of the Nether options are available yet, the config option is there, so I don't have to add it later,
but #66 is still in progress.

Beehives, I'll look into it later today after work, you may be having terrible

[2015-11-18 21:52] Sunconure11 opened #142 "Dairy Module"
I looked up fermented milk beverages out of boredom, and found this:

https://en.wikipedia.org/wiki/Kefir

Do you think we could place this in the mod somewhere? Maybe fermenting milk with any yeast creates it. However, it is not alcoholic, if we want something alcoholic, maybe we could use this instead:

https://en.wikipedia.org/wiki/Kumis

[2015-11-19 02:47] IceDragon200 commented on #142
@Sunconure11 Seems doable, what sort of effect would it have?
Also this means I'd we'd need to add an actual Milk fluid (Forestry has one, so we'll need to be careful not to break other mods with the addition)

[2015-11-19 15:51] Sunconure11 commented on #142
What if it clears all negative debuffs (except for tipsy) like how milk does, and inflicts absorption?

[2015-11-20 06:38] PitchBright opened #143 "Feature Request: Configgable Heat Source for Brew Kettle"
For the guys that do realism stuff… netherrack + fire isn't an option for a heat source (because 'netherrack')… and that leaves just Lava. Lava's pretty unrealistic as a heat source, to be honest, because lava is about 1000 degrees and it would melt your face off.

Would it be possible to get a configgable list of Heat Source blocks for the Brew Kettle in the Cellar.conf? That way users can defint

[2015-11-20 15:48] Ar97x commented on #142
This could give a new path to Cellar Module, milk fermentation, and lead to
a new module, incrementing cool stuff like cheese producing and other food
related stuff. Good call.

[2015-11-20 15:52] Ar97x commented on #143
That would be cool, mostly if we could use heat sources from other mods.

[2015-11-20 15:58] spannerman79 commented on #143
There is Thaumcraft Nitor as one such source.

[2015-11-20 16:01] Ar97x commented on #143
And Thermal Expansion with a large variety, like liquidacted cool (using
that almost useless pulverized coal), pyrotheum and destabilized redstone
(which is probably warm too)

[2015-11-20 16:01] IceDragon200 commented on #143
@PitchBright @Ar97x Its in the [API](https://github.com/Alatyami/Growthcraft-1.7/tree/development/src/java/growthcraft/api/cellar/heatsource) you need only to add the [entries](https://github.com/Alatyami/Growthcraft-1.7/blob/development/src/java/growthcraft/cellar/GrowthCraftCellar.java#L244-L249)

I could add some config options to configure the default heat sources (fire, lava)

Just for demo p

[2015-11-20 16:04] IceDragon200 commented on #142
@Sunconure11 @Ar97x On my computer it **is** a new module **grcdairy** to be exact, I was thinking about adding [butter churn](http://antiqueshopsinmichigan.com/images/antique_items/1825_butter_churn.jpg) as well

[2015-11-20 16:07] Ar97x commented on #143
Wow that was quick. I'll check that as soon as possible

[2015-11-20 16:25] Sunconure11 commented on #142
And I already started a wiki page on said module.

https://github.com/Alatyami/Growthcraft-1.7/wiki/Growthcraft-Dairy-(Concept)

[2015-11-20 21:20] tehFoxx0rz commented on #124
On top of this, it'd be great if the rope could work with modded fences.  Especially Woodstuff.

[2015-11-20 21:25] tehFoxx0rz commented on #102
The main value I see to this is the lovely bushes.  Perhaps they could be added to the bees module, if not a separate garden module (which would be great too)?

[2015-11-20 22:07] tehFoxx0rz opened #144 "Building generation cleanup."
It's great that the structures now clear their interiors out, but now they clear a bit too much terrain out, causing big holes in the ground around them if they generate sunken into the terrain.  This problem is the biggest with the bee shop, though the farms seem to have a block or so around the edge (http://i.imgur.com/JpyqYu2.png http://i.imgur.com/kV9dOtE.png).  All that needs to be done is ma

[2015-11-21 01:19] PitchBright commented on #143
I hate to admit this, but as a non-coder, I don't know what I'm supposed to do to add the entries. I was hoping for a spot in the config that as an average-joe user, where I could define 'em.

Sorry to be nuisance with this, but if you could do me a fav and gimme a little hand-holding walkthrough on what you mean… I will definitely learn from it and retain the knowledge, and apply it to other thin

[2015-11-21 02:26] IceDragon200 commented on #144
I'll consider my buggy village code, well, buggy, thanks for the report, we'll get this fixed (at some point), possibly when I'm not exhausted

[2015-11-21 02:37] IceDragon200 commented on #143
@PitchBright https://github.com/Alatyami/Growthcraft-1.7/commit/413e7e62fdac39d1650e79dc460b3b26733ce273

[2015-11-21 02:44] PitchBright commented on #143
If I understand that correctly, you've put a config option to allow us to change the heat values of the default heat sources (vanilla lava & fire). Correct me if I'm wrong there  xD

That said, if that's the case… that's actually not the problem I was having. We use Enviromine mod which simulates ambient temperature, and lava is 1000 degrees centigrade, so any time we go near lava, we get heatstro

[2015-11-21 04:45] IceDragon200 commented on #143
@PitchBright https://github.com/Alatyami/Growthcraft-1.7/commit/67159906f80d7f9171281a2961ee5759bfabcfdb

Go wild?
This will generate a new config file `$MINECRAFT/config/growthcraft/cellar/heatsources.json` with the default entries

[2015-11-21 04:58] PitchBright commented on #143
Wicked! I'll test and then close this up. IceD, you're a rockstar.

How much of a nightmare would it be for you to do the same for #61 (assuming it's a similar type of feature request)?  I know I'm pushin' my luck. But I figured I'd ask while you're on a tear. :)

[2015-11-21 05:04] IceDragon200 commented on #143
@PitchBright It was on the plan afterwards, but I'm currently overhauling logging first

[2015-11-21 05:26] PitchBright commented on #143
Heat source JSON works beautifully! I'm so happy. Thanks so much for bangin' that out. You shoulda seen me try to build our Brewery, I could only be in that building for 15 seconds at a time, then I'd have to go cool off in the snow for 5 minutes. LOL.

Just curious… what's the 32767 mean in the config? Is that the same as a wildcard?

[2015-11-21 05:26] #143 closed

[2015-11-21 05:27] IceDragon200 commented on #143
@PitchBright Its the internal wildcard value, you can set it to anything less than `0` (like `-1`) and it will convert it to a wildcard internally.

[2015-11-21 05:36] PitchBright commented on #143
Okay cool. Thanks again!

[2015-11-21 05:55] PitchBright commented on #108
I circumvented the 'Netherwart is not Yeast' problem several months ago by retexturing and renaming netherwart to yeast, in a resourcepack.

I love where you guys are taking this Yeast idea. You know me though, I'm going to ask that you make the Yeast types by biome configurable  XD

Do you want that request opened in a new issue so you have it as a possible-to-do?

[2015-11-21 05:57] PitchBright opened #145 "Fermentation Barrel progress bar doesn't really indicate anything"
The white arrow above the yeast/netherwart slot zips up repeatedly, but it gives the user no real sense as to where they are in the fermentation process timeline.

Would it be easy enough to make the progress bar reflect the user-configured fermentation time?

[2015-11-21 05:59] PitchBright commented on #108
Sorry I missed the boat on the texture help request. In the future, if you guys want something done, just ping me in the #growthcraft irc channel. I'm almost always around, and I can churn stuff out for you pretty quickly.

[2015-11-21 08:59] ghost commented on #102
@IceDragon200  Ok. I notice the bee box spreads flowers around it. So I assume you can grow flowers using the bee box?

[2015-11-21 09:06] ghost commented on #102
@IceDragon200 you can easily add support for ANY flowers including Botania  by adding a bit of code that searches for any block around it that extends growable? that contains a specific string name pulled from config file

// bee boxes will also use any plants around it that contain the following strings
"Additional Bee Box flowers"=Flower, Shimmerleaf

This will make bee boxes kick in that extra

[2015-11-21 09:11] trollworkout opened #146 "right clicking Jar on Bee Box gets honey forever - fix to consume full honey combs on each use"
Just that. It seems as a n exploit to get infinite honey by having to right click on the Bee Box and removes the need to actually grow your honey / bees / honeycombs.

[2015-11-21 09:17] ghost commented on #142
@IceDragon200  @Sunconure11  wow awesome!

For status effect I am thinking it should clear all effects except for tipsy then add tipsy. So if you mix it with other drinks you can get super drunk. Milk would remove all effects including tipsy however should be same.

[2015-11-21 14:51] IceDragon200 commented on #146
@trollworkout That's a bug with the new honey comb format, I never realized the bee box had such a thing, its a one line change though 3:

[2015-11-21 15:32] IceDragon200 commented on #146
@trollworkout Fixed here 27c7bdba2c9d947adb54930ac3ad5930c193ead5, fixed the fix here 0d44975bc60c8a24f1d21c28704ecae24c2b3070

[2015-11-21 15:38] IceDragon200 commented on #145
@PitchBright Its a decoration, pay attention to the bubbles instead, they, are the real progress indication.

Fermentation time is configable (nether wart fermentation time is hardcoded as `fermentationTime * 0.66`, so thats something that may change)

[2015-11-21 15:40] IceDragon200 commented on #129
@trollworkout Seeing as there is no one fix to solve everything, can we close this now?

[2015-11-21 15:52] Ar97x commented on #102
I think we already have a Botania compat, but I'm not so sure. Check the
closed issues.

[2015-11-21 17:38] IceDragon200 commented on #61
@PitchBright [User Pressing Recipes](https://github.com/Alatyami/Growthcraft-1.7/wiki/User-API-%282.4.x%29#pressing-recipes)

[2015-11-21 18:17] Sunconure11 commented on #130
One cannot download the latest build.

[2015-11-21 18:25] Sunconure11 commented on #142
I feel well rested enough that I might start on a model for the dairy module. WATER BUFFALO!

[2015-11-21 18:28] Sunconure11 commented on #142
Water buffalo milk is whats used in mozzarella cheese, BTW.

[2015-11-21 18:30] Sunconure11 commented on #142
And Kumis, the beverage, is made from horse milk.

[2015-11-21 18:43] Sunconure11 commented on #142
Yeah this is going to take a bit. Mainly because of those horns. But I'll try to make sure this actually gets done, unlike the distillery. >:U

Also @IceDragon200 you might want to look at the nether module page. I posted some textures and such.

[2015-11-21 19:17] IceDragon200 commented on #130
@Sunconure11 Crappy internet day, dropbox just uploaded it ;x

[2015-11-21 19:57] Sunconure11 commented on #143
Quick question, does anyone know the ID of the technical block for Nitor?

[2015-11-21 20:02] IceDragon200 commented on #143
@Sunconure11 Use NEI and dump the block data

[2015-11-21 21:44] ghost commented on #146
@IceDragon200 thanks :)

[2015-11-21 21:59] IceDragon200 commented on #108
@PitchBright [Yeast Generation](https://github.com/Alatyami/Growthcraft-1.7/wiki/User-API-%282.4.x%29#yeast-generation)

[2015-11-21 22:03] IceDragon200 commented on #80
Debugging for all modules is available by setting "Enable Debugging" to true under the "Debug" catergory in config files

[2015-11-21 22:03] #80 closed

[2015-11-21 22:05] #73 closed

[2015-11-21 22:05] IceDragon200 commented on #25
Well, we have a license (me thinks)

[2015-11-21 22:05] #25 closed

[2015-11-21 23:18] ghost commented on #129
@IceDragon200  as long as you can swim and drown in liquids is all good. just disable right click with water bottle and use bucket crafting instead.

[2015-11-21 23:27] PitchBright commented on #61
Looks like christmas came early!

I'll test it up and confirm it works… and then close this one out.

I may hit a couple questions in the process. The first that pops to mind before I even begin is, do the fluids need to be legit fluids? Or does the press create a sort of pseudo-fluid that can't be poured out of a bucket?

[2015-11-21 23:30] PitchBright commented on #108
You're killin' it today. What an awesome thing to wake up to! All these wicked configgables!

With the Biomes on the Yeast, can I also enter them by ID# and/or actual name (ie. 'Silkglades', 'Mangrove')?

[2015-11-21 23:38] PitchBright commented on #61
I haven't tried anything yet, but I think to add to that, my next questions are going to be, using HarvestCraft as an example.

How does pressing HarvestCraft Lemons in the Fruit Press, outputting Lemon Juice, become a HarvestCraft Lemon Juice drink when I tried to scoop a bottle of the juice from the Press? Speaking as a non-coder, how do those things connect?

And (depending on your answer to th

[2015-11-22 00:01] PitchBright commented on #145
I didn't realize that netherwart ferments faster than the value I stick in the config. Thanks for the heads up on that. (I've got my barrels ferment time set to something like 24000000).

May I suggest just getting rid of the decorative arrow and enlarging the Bubbles so that they become more readable? Conversely (and preferably, because it actually makes a lot more sense on both fronts)… I would

[2015-11-22 00:34] IceDragon200 commented on #61
@PitchBright If HarvestCraft registered a fluid container (the bottle) for the lemon juice (the fluid) it will pick it up, otherwise you'll just have a press full of lemon juice.

tl;dr
HarvestCraft must register:
- A fluid (the lemon juice)
- A fluid container (a bottle of lemon juice)

If those are both true, then yes you'll have a nice bottle of lemon juice, otherwise you'll just have lemon jui

[2015-11-22 00:38] IceDragon200 commented on #108
@PitchBright The configs expect the registered name (the one they used for the GameRegistry)

For example all Growthcraft yeast are `grc.yeast`

You can find out the registered names by dumping the data using NEI

So the item schema for yeast would be:

[code]

This is as simple as it gets (without over complicating the code side of things), you get pretty much a 1:1 mapping with the growthcraft a

[2015-11-22 00:44] IceDragon200 commented on #129
@trollworkout I'm sorry dave, I'm afraid can't do that.
- In order for liquids to behave like "liquids", they have to use the `Material.water`.
- Using `Material.water` causes the bottle bug (which is a Minecraft implementation issue, I CANT FIX THAT)
- Using any other material for the fluids, causes them to behave differently (non-liquid) (Swimming and so forth, are hardcoded for Material.water,

[2015-11-22 00:51] PitchBright commented on #61
Awesome, thanks for the clarification!

[2015-11-22 00:52] PitchBright commented on #108
Actually, I meant the biomes.

[2015-11-22 01:06] IceDragon200 commented on #108
@PitchBright [BiomeDictionary.Type](https://github.com/MinecraftForge/MinecraftForge/blob/1.7.10/src/main/java/net/minecraftforge/common/BiomeDictionary.java#L15-L64) names.

Nothing else.

[2015-11-22 01:09] IceDragon200 commented on #145
@PitchBright 8a8bce6 !?
I slowed it down a bit too so you can watch it go up sloooowly every 60 ticks >.>;

[2015-11-22 01:31] PitchBright commented on #108
Okay, no worries. Those "type" names are kinda useless when it comes to handling 100+ biomes (Biomes O Plenty, etc)… because of the way biomes are classified, where in reality they're very different environmentally. (Poor example, but Desert is type DRY, so is Antarctica biome)

Unless of course the config was able to do operands for biome types. But that's a nightmare to figure out how to exclude

[2015-11-22 01:33] PitchBright commented on #145
Yeah, that's pretty cool. I'll test it out in-game just so we know she's good, and then close this one out. I think this'll make things make way more sense in that GUI, plus more useful when it comes to long Ferment times (1000 mc days) :-)

[2015-11-22 08:22] spannerman79 commented on #143
`Thaumcraft:ItemResource:1`

[2015-11-22 10:47] ghost commented on #129
@IceDragon200 Just close it for now but it may come back at a later time. I'll also post this water bottle issue on forge github since they kinda need to implement it.

[2015-11-22 10:47] #129 closed

[2015-11-22 15:43] Sunconure11 commented on #142
https://www.dropbox.com/s/f41dgcy1l617arg/Screenshot%202015-11-22%2010.42.58.png?dl=0

[2015-11-22 15:43] Sunconure11 commented on #142
Working on the water buffalo, bit by bit.

[2015-11-22 15:58] Alatyami commented on #130
if you want TravisCI to pick up the build just tag it.

[2015-11-22 16:34] IceDragon200 commented on #130
@Alatyami There would be just too many of them, since I make a new build after every commit (almost)

[2015-11-22 16:35] IceDragon200 commented on #143
@Sunconure11 @spannerman79 That only gives you the item, the actual block is `Thaumcraft:blockAiry:1`

The Heatsource would be this:

[code]

I've added it as a default entry in the user heat sources if you have Thaumcraft available, be sure to remove your old heatsources.json to generate the new one.

[2015-11-22 16:37] #146 closed

[2015-11-22 21:58] IceDragon200 commented on #66
@Sunconure11 Added the new nether textures and booze

Sorry its taking so long, I'm trying to get the booze system sensible, but its making me pull my hair out orz

[Screenshot](https://dl.dropboxusercontent.com/u/72618186/screenshots/minecraft/growthcraft/nether/2015-11-22_16.50.49.png)
- top left, Malice Cider
- top right, Gelid Booze
- bottom left - Vile Slop
- bottom right - Amrita

[2015-11-23 05:11] fullphaser opened #148 "[Modpack request] Tame the World"
Hey there folks, you guys said in your section to make a new issue and list the mods I'd be working with so I wanted to go ahead and do that

Modpack Thread is Here: http://forum.feed-the-beast.com/threads/1-7-10-tame-the-world-magic-and-tech-exploration-and-pain.127218/

Mod listing is:
Antique Atlas by Hunternif
AppleCore by squeek502
Aroma1997Core by Aroma1997
AtomicStryker's BattleTowers by At

[2015-11-23 05:35] Alatyami commented on #148
Thank you for your modlist there are some mods that we haven't seen before.

Usage in you modpack is approved.

[2015-11-23 05:35] #148 closed

[2015-11-23 05:37] Alatyami opened #149 "Move to an organizational github repo"
What do you think about moving to growthcraft/Growthcraft-1.7 repo?

[2015-11-23 13:27] IceDragon200 commented on #149
@Alatyami I was going to ask for the same thing!

That would things much easier

[2015-11-23 15:39] labpaw commented on #149
Are you guys talking about creating Growthcraft Team organization? Something like this: https://github.com/SleepyTrousers right? Would be cool definitely.
Also, I would suggest you to remove version number from repository name and instead of that use branching system. So, 1.7 branch will be for 1.7.10 MC version, 1.8 branch for 1.8.(8) and so on.

[2015-11-23 16:18] Alatyami commented on #149
Yes, that's what I am thinking ....

[2015-11-23 16:33] spannerman79 commented on #149
Agreed.

It would be easier to give access to people to edit/add to the wiki here on Github as well

[2015-11-23 17:50] Alatyami commented on #149
Going to be moving the repo today ...

[2015-11-23 17:50] Alatyami commented on #149
https://github.com/GrowthcraftCE

[2015-11-23 18:09] spannerman79 commented on #149
Cool. Don't forget to invite certain people hint hint :wink:

[2015-11-23 18:11] spannerman79 commented on #128
Make sure this change (Thaumcraft 5 API) is specific to the 1.8 branch

[2015-11-23 18:24] Alatyami commented on #149
It has been moved ... sending out invites now ...

[2015-11-23 18:24] #149 closed

[2015-11-23 22:01] Sunconure11 commented on #142
https://www.dropbox.com/s/x0rwz8fcv5ugqsx/Screenshot%202015-11-23%2017.00.39.png?dl=0

This is what happens when I model without references because the internet blew out for a bit.

[2015-11-24 02:43] PitchBright commented on #142
I wanted to chip in, and contribute, since @IceDragon200 and you guys have been so good (and quick) about implementing features, configurables, fixes and tweaks for me. I hope this does the trick, I did my best to honour Gwafu's style.

http://imgur.com/nnhp9kd

If that's approved, let me know what sizes and formats you need versions of it, and I'll prep a zip of 'em for ya.

[2015-11-24 02:44] spannerman79 commented on #142
If you need a vote @PitchBright :+1:

[2015-11-24 03:12] Sunconure11 commented on #142
That looks just like Gwafu's style. That can probably work.

[2015-11-24 03:14] Sunconure11 commented on #142
I'm going to fix up the water buffalo tomorrow, but, I won't texture it until later. Body is mostly finished, but, needs heavy tweaking as I lacked proper references due to the fact that the internet went out for part of the day.

[2015-11-24 03:52] Alatyami commented on #142
Awesome

On Nov 23, 2015 21:44, "Spanner_Man" notifications@github.com wrote:

[2015-11-24 17:45] IceDragon200 commented on #142
@PitchBright  :+1:

[2015-11-24 18:56] labpaw commented on #149
@Alatyami is it possible to rename repository? I would suggest to rename it to just Growthcraft (without version number).

[2015-11-24 19:46] Sunconure11 commented on #142
https://www.dropbox.com/s/hngme4tqdhyvbrh/Screenshot%202015-11-24%2014.45.15.png?dl=0

I reworked the water buffalo model a bit. I'll do details such as the muzzle, tail, and horns later. Then the textures will follow suit. Unless anyone else wants to texture it.

[2015-11-24 19:48] Sunconure11 commented on #142
Also, if milk from other animals (i.e horse, water buffalo, and possibly other animals) are treated as separate fluids, should they behave any differently from cow milk, aside from certain cheeses and beverages they can be made into?

[2015-11-24 20:15] Alatyami commented on #142
Would "milking" a water buffalo result in a Bucket of Water? :)

~alatyami

On Tue, Nov 24, 2015 at 2:48 PM, Joseph Caleb Jones <
notifications@github.com> wrote:

[2015-11-24 20:16] Sunconure11 commented on #142
OH

[2015-11-25 04:58] PitchBright commented on #142
@Alatyami LOL

[2015-11-25 05:05] PitchBright commented on #142
@IceDragon200 @Sunconure11 @Alatyami Can you guys grab this zip for GC_Dairy from my drop box? It's the GC_Dairy logo, in vector Adobe Illustrator format, and TIFF, JPG & PNG as well… and they can be resized to suit any application. Hopefully that's enough cuts of the logo that you can open it and do what you need to do with it (wiki, manual, website, etc).

If there's an asset repository for GC s

[2015-11-25 12:44] PitchBright commented on #61
This seems to be working beautifully!!!

Sorry it took so long to confirm that. Since Harvestcraft didn't have any fluids, I had to learn Java, and add my own. That only took a couple hundred hours :P

(Which reminds me I wanted to ask you how you got your blockfluids to have their colour, in CreativeTabs… I couldn't seem to solve that one. If you can point to it in the code, I'd be grateful. EDIT

[2015-11-25 13:01] PitchBright commented on #145
Confirmed fixed. Works amazing… and I think it's a sharp improvement! Thanks!

[2015-11-25 13:01] #145 closed

[2015-11-25 14:13] ghost commented on #142
wait. is is water buffalo made out of water? :))

[2015-11-25 14:24] PitchBright commented on #61
Hit a little thing… I'm not sure if I'm entering it wrong or not… but I can't seem to make Pumpkins make a Fluid and pomace Pumpkin Seeds. It's not accepting the pumpkin. Because it's an itemblock maybe?

[2015-11-25 14:26] PitchBright commented on #61
Ditto for Sugarcane/Reed into fluid and Sugar.

[2015-11-25 14:34] spannerman79 commented on #142
ffs lol .... really?

On a more serious note though milk from the buffalo used to make the base material for cheese but needing a different type of material in order to make it mature. Perhaps rotten flesh makes Blue Vein Cheese, etc

[2015-11-25 15:53] IceDragon200 commented on #61
@PitchBright We handle fluid colors here:

[Fluid Block Color](https://github.com/GrowthcraftCE/Growthcraft-1.7/blob/development/src/java/growthcraft/cellar/common/block/BlockFluidBooze.java#L88-L92)

In addition, we use an extended Fluid class: [Booze](https://github.com/GrowthcraftCE/Growthcraft-1.7/blob/development/src/java/growthcraft/api/cellar/booze/Booze.java#L38-L48)
Which has a `setColor`

[2015-11-25 16:31] IceDragon200 commented on #61
@PitchBright Here is a [Registry Dump](https://gist.github.com/IceDragon200/99388594cf92c9fd23e8) from Growthcraft's development. This may help you finding the item names for pumpkin and reeds

**Pumpkin** (Item)

[code]

**Pumpkin Seeds**

[code]

**Reed** (Item)

[code]

[2015-11-25 16:42] PitchBright commented on #61
@IceDragon200 Yeah that's what I had in my config. Either I'm poochin' it somehow because I'm too tired… or something's up with 'em because their not "items" (maybe?).

@everyone Can anybody test those to confirm I'm not goin' crazy?

[2015-11-25 16:55] IceDragon200 commented on #61
@PitchBright You can enable debugging for the cellar module and watch the logs?

`config/growthcraft/cellar.conf`

[code]

Note that each module has its own debug option, so you can set them to debug individual modules.

Anything related to Brewing, Pressing, Fermenting, Distlling (when we get to it) is apart of the Cellar module (which is also why its JSON configs are under `config/growthcraft/ce

[2015-11-25 19:38] Sunconure11 commented on #142
I'm going to hold off continuing the water buffalo model until Friday.

[2015-11-25 20:14] Sunconure11 commented on #142
Also one cheese type I thought of for creating using water buffalo milk was mozzarella, as some forms of mozzarella come from water buffalo milk.

[2015-11-25 20:15] Sunconure11 commented on #142
https://en.wikipedia.org/wiki/Buffalo_mozzarella

[2015-11-25 20:16] Sunconure11 commented on #142
Also I thought of some form of cheese created with the entomophagy module if that ever goes anywhere.

https://en.wikipedia.org/wiki/Casu_marzu

hue

[2015-11-25 20:17] Ar97x commented on #142
I just love Buffalo Mozzarella. I would farm Water Buffalos just to eat it
every day.

[2015-11-25 20:26] Sunconure11 commented on #142
Also, seeing as using certain ingredients to define certain cheeses was suggested, I'll put some forward:

Gorgonzola (type of Blue Vein): Cow's Milk, Rotten Flesh, Rennet, Starter Culture

Roquefort: Sheep Milk, Rotten Flesh, Starter Culture, Rennet

Cheddar: Cow's Milk, Orange Dye, Rennet, Starter Culture

Mozarella: Buffalo Milk, White Dye, Rennet, Starter Culture

[2015-11-25 20:33] spannerman79 commented on #142
Obtained via;
- Mob drops (specific killing pig (15-20% drop), cow (50% drop), _maybe_ chicken(1-5% drop))
- Cauldron recipe - Boil 2 x leather with 1 x gunpowder (powdered acid)

[2015-11-25 20:34] IceDragon200 commented on #142
@Sunconure11 @Ar97x @spannerman79 @trollworkout @PitchBright @Alatyami How do you guys want your cheese, Cheese Items and or Cheese blocks (like cake (not a lie))?

[2015-11-25 20:35] Sunconure11 commented on #142
Cheese items and blocks. Cheese blocks can placed like cake, and eaten, or picked up, and sliced into 9 slices.

[2015-11-25 20:35] Sunconure11 commented on #142
Also, vegetable rennet is a thing, maybe that could be added as well. https://en.wikipedia.org/wiki/Rennet#Vegetable_rennet

[2015-11-25 20:36] spannerman79 commented on #142
The cake is a lie :stuck_out_tongue:

But yes like cake, different texture

Damnit ninja'd by @Sunconure11

[2015-11-25 20:38] Ar97x commented on #142
It could be like melons, but cake sized. If we break it, it'll be separated
into 9 cheese slices, and if we put them all together in the crafting grid
it becomes a block.

[2015-11-25 20:39] spannerman79 commented on #142
My suggestion about Rennet was based on rough stomach sizes for vanilla minecraft animals. Cow has three stomachs hence higher drop rate

Rennet source normally from cow stomachs anyway

[2015-11-25 20:39] Sunconure11 commented on #142
Yeah, that can work. But I think having vegetable rennet on the table would work as well, in case players cannot find cows.

[2015-11-25 20:41] spannerman79 commented on #142
Thats why I also suggested

[2015-11-25 20:41] IceDragon200 commented on #142
@Sunconure11, @spannerman79 or if your offended by kiling cows/animals in general (feels the guilt of all those sheep who paid the price for their wool...)